@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

body:not(.page-admin),
body.page-admin #header,
body.page-admin .region-footer {
  .block,
  table {
    border: 0px;
  }
}
.help-page, div.comment, div.node {
  background: none;
  border: 0px;
}

body:not(.maintenance-page) #header {
  /* Logo, site name and slogan are hidden because we are using the mini panel to render it. 
  These can also be hidden by disablng it in the theme settings, 
  but if we do that, the mini panel won't display it too. However, if 
  the mini panel is not used, we can comment out this rule. */
  >#logo,
  >#site-name,
  >#site-slogan {
    display: none;
  }
}

.featured-image img {
  width: 100%;
  height: auto;
}
.views-list-thumbnail {
  float: left;
  margin-right: 15px;
}
.view-articles-test .view-content .views-row {
  margin-bottom: 20px;
}

#mini-panel-header {
  display: flex;

  .panel-panel {
    width: auto;    
  }

  .panel-col-first,
  .panel-col-last {
    flex: 0 auto;
  }
  .panel-col {
    flex: 1 auto;
    text-align: center;

    .pane-page-site-name {
      font-size: 2em;
      line-height: 1.5;
    }
    .pane-page-slogan {
      font-size: 1.5em;
      line-height: 1.5;
    }
  }
}

.secure-site-notif .block-content {
  background-color: #2ECC71;
  text-align: center;
  padding: 10px;
}
.region-footer #block-block-2 .block-content {
  text-align: center;

  p {
    margin: 0;
  }
}

#modal-content #views-content-views-content-type-edit-form {
  float: left;
  width: 50%;

  .form-actions {
    position: absolute;
    right: 12px;
    top: 490px;
    width: 47%;
    padding: 9px 0;
  }
  .option-text-aligner {
    width: 100%;

    .form-item {
      float: none;
    }
  }
}

#block-system-user-menu {
  ul.menu {
    float: right;

    li {
      float: left;
      border: 0;
    }
  }
}

#block-tb-megamenu-main-menu {
  .block-content {
    padding: 0;
  }
}

#block-tb-megamenu-main-menu {

  .tb-megamenu-main-menu {
    background: transparent;
    display: table;
    margin: 0 auto;
    
    .nav-collapse {
      position: relative;
      top: 0;
      @include breakpoint(980px) {
        display: block;
      }
    }

    .btn-navbar {
      display: table;
      margin: 0 auto;
      float: none;

      @include breakpoint(980px) {
        display: none;
      }
    }

    .dropdown-menu {
      background-color: #f8f8f8;
    }

    .tb-megamenu-nav>li {
      background: #eee url(images/bleeds.png) 50% 0px no-repeat;
      border: 0px;
      float: none;
      
      @include breakpoint(980px) {
        float: left;
      }

      &.active,
      &.active>a {
        background-color: #7bc !important;
        color: #fff;
        text-shadow: #38a 0px 1px 0px;
      }
      &:first-child,
      &:first-child a {
          border-radius: 0;

          @include breakpoint(980px) {
            border-radius: 5px 0px 0px 5px;
          }
      }
      &:last-child,
      &:last-child a {
          border-radius: 0;
          @include breakpoint(980px) {
            border-radius: 0px 5px 5px 0px;
          }
      }
      &.open a {
        background-color: #f8f8f8;
      }

      a {
        background-image: none;
        color: #333;
        text-shadow: #fff 0px 1px 0px;
        min-width: 70px;
        text-align: center;
        float: none;
        padding: 5px 10px;

        @include breakpoint(980px) {
          float: left;
        }

        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }
}

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #page-wrapper {
    border: 1px solid #ddd;
  }
  #page {
    margin: 20px 40px 40px;
  }
  #header,
  #container,
  #footer-wrapper {
    flex: 1 1 100%;
    justify-content: center;
    display: inherit;
  }
  #header .section {
    text-align: center;
  }
  #name-and-slogan,
  #main {
    text-align: center;
  }
  #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px;
  }
  #site-name {
    font-size: 28px;
    line-height: 1;
  }
  #site-slogan {
    margin-top: 7px;
    word-spacing: 0.1em;
    font-style: italic;
  }
  h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em;
  }
}

/* Admin page styles */
ul#views-display-menu-tabs {
  overflow: visible;

  li.add ul.action-list li {
    float: none;
  }
}
.views-ui-display-tab-bucket .advanced-help-link {
  float: left;
}