@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "bower_components/sassmatic/sass/sassmatic";

/** Default Styles **/
big {
  font-size: larger;
}
blockquote {
  display: block;
  font-style: italic;
  margin: 1em 2em;
  quotes: '\201c' '\201d';

  &:before {
    content: open-quote;
  }
  &:after { 
    content: close-quote;
  }
}
code {
  font-family: monospace;
}
del {
  text-decoration: line-through;
}
ins { 
  text-decoration: underline;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}
q { 
  display: inline;
  font-style: italic;
  quotes: '\201c' '\201d';

  &:before { 
    content: open-quote;
  }
  &:after { 
    content: close-quote;
  }
}
small { 
  font-size: smaller;
}
sub { 
  vertical-align: sub;
  font-size: smaller;
}
sup { 
  vertical-align: super;
  font-size: smaller;
}
tt { 
  font-family: monospace;
}
ol, ul {  
  li {
    list-style: initial;
    margin-left: 40px;
  }
}
/***********************/

body:not(.page-admin),
body.page-admin #header,
body.page-admin .region-footer {
  .block,
  table {
    border: 0px;
  }
}
.help-page, div.comment, div.node {
  background: none;
  border: 0px;
}
body.tao {
  color: black;
}

body:not(.maintenance-page) #header {
  /* Logo, site name and slogan are hidden because we are using the mini panel to render it. 
  These can also be hidden by disablng it in the theme settings, 
  but if we do that, the mini panel won't display it too. However, if 
  the mini panel is not used, we can comment out this rule. */
  >#logo,
  >#site-name,
  >#site-slogan {
    display: none;
  }
}

input[type="password"] {
  width: 100%;
  box-sizing: border-box;
}

div#toolbar div.toolbar-shortcuts ul {
  padding-top: 2px;
}

.panelized-node .field-name-field-featured-image {
  float: left;
  margin: 0 1em 1em 0;
} 

.view-press-releases-test,
.view-articles-test,
.view-news-test {
  &.featured-display {
    .views-field-title h2 {
      font-size: 1.5em;
    }
    .views-field-body {
      font-size: 14px;
    }
  }
  .featured-image img {
    width: 100%;
    height: auto;
  }
  .views-field-title h3 {
    font-size: 1.17em;
  }
  .views-list-thumbnail {
    float: left;
    margin-right: 15px;
  }
  &.main-display .views-row {
    display: table;
    margin-top: 1em;
  }
}

label,
.pane-title,
.ckeditor_links,
.link-edit-summary,
.form-actions input,
.vertical-tabs-list li a strong {
  text-transform: capitalize;
}

.field-items ul,
.field-items ol {
  overflow: hidden;
}

ul.panels-ipe-linkbar li {
  float: left;
  list-style: none;
  margin-left: 0;
}

.cke_inner .cke_top {
  overflow: visible;
  display: flex;
}

.cke_toolbar a.cke_button:hover {
  position: relative;

  &:before {
    content: attr(title);
    color: #FFFFFF;
    padding: 4px 8px;
    position: absolute;
    bottom: 130%;
    background: #000000;
    text-align: center;
    border-radius: 6px;
    text-transform: capitalize;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: calc(-50% + 1px);
    bottom: 112%;
  }
}

.links,
.actions,
.primary-tabs,
.action-links,
.vertical-tabs-list,
#module-filter-tabs {
  li {
    list-style: none;
    margin-left: 0;
  }
}

ul.secondary-tabs.links:hover {
  li, li a {
    float: none;
  }
}

ul.links li, 
ul.links li a {
  float: none;
}

ul.action-links,
ul.links.pager,
ul.primary-tabs.links {
  li {
    margin-left: 0;
  }
  li, li a {
    float: left;
  }
}

.views-mini-pager {
  display: flex;
  justify-content: center;
}

.ctools-content ul li {
  margin-left: 0;
}

#mini-panel-header {
  display: flex;

  .panel-panel {
    width: auto;    
  }

  .panel-col-first,
  .panel-col-last {
    flex: 0 auto;
  }
  .panel-col {
    flex: 1 auto;
    text-align: center;

    .pane-page-site-name {
      font-size: 2em;
      line-height: 1.5;
    }
    .pane-page-slogan {
      font-size: 1.5em;
      line-height: 1.5;
    }
  }
}

.secure-site-notif .block-content {
  background-color: #2ECC71;
  text-align: center;
  padding: 10px;
}
.region-footer #block-block-2 .block-content {
  text-align: center;

  p {
    margin: 0;
  }
}

.modal-header,
#modalContent div.ctools-modal-content .modal-header {
  background: url(images/bleeds.png) 0px -30px repeat-x;
  color: #ccc;
  font-size: 11px;
  height: 30px;
  overflow: hidden;
}

#modal-title,
#modalContent div.ctools-modal-content .modal-title {
  font-size: 11px;
  float: left;
  line-height: 20px;
  padding: 5px 20px;
}

#modal-content {
  .form-item {
    position: static;
  }
  #views-content-views-content-type-edit-form {
    float: left;
    width: 50%;

    .form-actions {
      position: absolute;
      right: 12px;
      top: 490px;
      width: 47%;
      padding: 9px 0;
    }
  }
  .option-text-aligner {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .form-item {
      float: none;
      border: 0;
    }
  }

  .form-actions {
    width: 46%;
    padding: 1%;
    margin-left: 0;
  }
}

#block-system-user-menu {
  ul.menu {
    float: right;

    li {
      float: left;
      border: 0;
    }
  }
}

#block-tb-megamenu-main-menu {
  .block-content {
    padding: 0;
  }
}

#block-tb-megamenu-main-menu {

  .tb-megamenu-main-menu {
    background: transparent;
    display: table;
    margin: 0 auto;
    
    .nav-collapse {
      position: relative;
      top: 0;
      @include breakpoint(980px) {
        display: block;
      }
    }

    .btn-navbar {
      display: table;
      margin: 0 auto;
      float: none;

      @include breakpoint(980px) {
        display: none;
      }
    }

    .dropdown-menu {
      background-color: #f8f8f8;
    }

    .tb-megamenu-nav>li {
      background: #eee url(images/bleeds.png) 50% 0px no-repeat;
      border: 0px;
      float: none;
      list-style: none;
      
      @include breakpoint(980px) {
        float: left;
      }

      &.active,
      &.active>a {
        background-color: #7bc !important;
        color: #fff;
        text-shadow: #38a 0px 1px 0px;
      }
      &:first-child,
      &:first-child a {
          border-radius: 0;

          @include breakpoint(980px) {
            border-radius: 5px 0px 0px 5px;
          }
      }
      &:last-child,
      &:last-child a {
          border-radius: 0;
          @include breakpoint(980px) {
            border-radius: 0px 5px 5px 0px;
          }
      }
      &.dropdown.open a {
        background-color: #f8f8f8;
        width: 90%;
        text-align: left;
      }

      a {
        background-image: none;
        color: #333;
        text-shadow: #fff 0px 1px 0px;
        min-width: 70px;
        text-align: center;
        float: none;
        padding: 5px 10px;

        @include breakpoint(980px) {
          float: left;
        }

        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }
}

.ui-dialog button.ui-dialog-titlebar-close span.ui-icon,
.ui-dialog button.ui-dialog-titlebar-close:hover span.ui-icon,
.modal-header .close,
#modalContent div.ctools-modal-content a.close {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #444 url(images/buttons.png) -4000px 50% no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 0px;

  &:hover {
    background: #444 url(images/buttons.png) -4000px 50% no-repeat;
  }
}

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #page-wrapper {
    border: 1px solid #ddd;
  }
  #page {
    margin: 20px 40px 40px;
  }
  #header,
  #container,
  #footer-wrapper {
    flex: 1 1 100%;
    justify-content: center;
    display: inherit;
  }
  #header .section {
    text-align: center;
  }
  #name-and-slogan,
  #main {
    text-align: center;
  }
  #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px;
  }
  #site-name {
    font-size: 28px;
    line-height: 1;
  }
  #site-slogan {
    margin-top: 7px;
    word-spacing: 0.1em;
    font-style: italic;
  }
  h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em;
  }
}

.node-type-press-release {
  .end-marker {
    margin: 2em 0;
  }

  .field-name-field-immediate-release {
    font-weight: bold;
  }

  .contact-title,
  .pane-node-field-contact-first-name,
  .pane-node-field-contact-last-name {
    display: inline-flex;
  }

  .sub-footer-1-mid {
    text-align: center;

    .pane-node-field-contact-last-name,
    .pane-node-field-contact-phone-number,
    .pane-node-field-contact-email,
    .pane-node-field-contact-website {
      display: inline-flex;

      &:not(:last-child):after {
        content: ',';
      }
    }
  }
}


/* Admin page styles */
ul#views-display-menu-tabs {
  overflow: visible;

  li.add ul.action-list li {
    float: none;
  }
}
.views-ui-display-tab-bucket .advanced-help-link {
  float: left;
}

#node-edit .form-item-path-alias input {
  width: auto !important;
}

.pane-node-form-path .pane-content {
  display: flex;
}

select.form-select {
  height: auto;
}

label.panopoly-admin-hide-body-label-processed {
  text-align: left !important;
}

.form-item.form-type-textarea {
  padding: 0;
  border: 0;
}

.rubik-inline-field-descriptions .page-content .form-item .description,
.description {
  color: green;
  box-sizing: border-box;
  padding: 5px;
  clear: both;

  p {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin: 0 2em;
    list-style: initial;

    li {
      margin: 0.25em 0;
      list-style: disc;
    }
  }
}

.admin-list .description {
  padding: 5px 0;
}

.admin-list li {
  list-style: none;
}

form .tabs {
  position: relative;
  z-index: 1;
}

.form-item label {
  color: black;
}

.ui-widget-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
.ui-datepicker {
  .ui-datepicker-title select {
    color: white; 
  }
  .ui-icon {
    filter: invert(1);
  }
}
.ui-datepicker-current-day .ui-state-active {
  background: #7DB9E8;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid transparent;
}

.ui-dialog .ui-dialog-titlebar,
.overlay .ui-dialog-titlebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,333333+100 */
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top,  #666666 0%, #333333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#333333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#333333 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #666666 0%,#333333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  padding: 0 14px 0 24px;
}



.treeTable tr td .expander {
  margin-left: 0 !important;
}

#admin-menu .shortcut-toolbar li {
  padding: 0;
  border: 0;
  margin: 0.25em 0;
}

#media-tabs-wrapper .ui-tabs-nav {
  li, li.ui-state-active {
    padding: 0 0.5em;
    margin-top: -2px;
  }
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0 1em;
}
