.help-page, div.comment, div.node {
  background: none;
  border: 0px;
}
.region-footer #block-block-1 .block-content {
  text-align: center;

  p {
    margin: 0;
  }
}

#modal-content #views-content-views-content-type-edit-form {
  float: left;
  width: 50%;

  .form-actions {
    position: absolute;
    right: 12px;
    top: 490px;
    width: 47%;
    padding: 9px 0;
  }
  .option-text-aligner .form-item {
    float: none;
  }
}

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #page-wrapper {
    border: 1px solid #ddd;
  }
  #page {
    margin: 20px 40px 40px;
  }
  #header,
  #container,
  #footer-wrapper {
    flex: 1 1 100%;
    justify-content: center;
    display: inherit;
  }
  #name-and-slogan,
  #main {
    text-align: center;
  }
  #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px;
  }
  #site-name {
    font-size: 28px;
    line-height: 1;
  }
  #site-slogan {
    margin-top: 7px;
    word-spacing: 0.1em;
    font-style: italic;
  }
  h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em;
  }
}

/* Admin page styles */
ul#views-display-menu-tabs {
  overflow: visible;

  li.add ul.action-list li {
    float: none;
  }
}
.views-ui-display-tab-bucket .advanced-help-link {
  float: left;
}