@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

body:not(.page-admin) .block {
  border: 0px;
}
.help-page, div.comment, div.node {
  background: none;
  border: 0px;
}
.region-footer #block-block-1 .block-content {
  text-align: center;

  p {
    margin: 0;
  }
}

#modal-content #views-content-views-content-type-edit-form {
  float: left;
  width: 50%;

  .form-actions {
    position: absolute;
    right: 12px;
    top: 490px;
    width: 47%;
    padding: 9px 0;
  }
  .option-text-aligner {
    width: 100%;

    .form-item {
      float: none;
    }
  }
}

#block-system-user-menu {
  ul.menu {
    float: right;

    li {
      float: left;
      border: 0;
    }
  }
}

#block-tb-megamenu-main-menu {
  .block-content {
    padding: 0;
  }
  .tb-megamenu-nav {
    @include breakpoint(979px) {
      display: table;
      margin: 0 auto;
    }
  }
}

#block-superfish-1 {
  #mobile-menu {
  //   background-color: #7bc;
  //   border: 0px;
  //   border-radius: 5px;
  //   color: #fff;
  //   display: table;
  //   font-size: large;
  //   margin: 0 auto;
  //   padding: 5px 10px;
  //   text-shadow: #38a 0px 1px 0px;

  //   @include breakpoint(1024px) {
      display: none;
  //   }
  }

  .block-content {
    display: flex;
    align-items: center;
  }

  #superfish-1-select {
    margin: 0 auto;
  }

  #superfish-1 {
    border-radius: 5px;
    display: none;
    margin: 0 auto;

    @include breakpoint(1024px) {
      display: table
    }

    >li {
      background: #eee url(images/bleeds.png) 50% 0px no-repeat;
      display: flex;
      // float: none;
      border: 0px;
      padding: 5px 10px;

      // @include breakpoint(1024px) {
        float: left;
      // }

      &:hover {
        background-color: #f8f8f8;
      }
      &.active-trail {
        background-color: #7bc;
      }
      &:first-child {
        // border-radius: 5px 5px 0px 0px;
        // @include breakpoint(1024px) {
          border-radius: 5px 0px 0px 5px;
        // }
      }
      &:last-child {
        // border-radius: 0px 0px 5px 5px;
        // @include breakpoint(1024px) {
          border-radius: 0px 5px 5px 0px;
        // }
      }
      // &.menuparent ul {
      //   display: none !important;
      //   @include breakpoint(1024px) {
      //     display: initial !important;
      //   }
      // }

      a {
        color: #333;
        text-shadow: #fff 0px 1px 0px;
        min-width: 70px;
        text-align: center;
        float: none;
        
        @include breakpoint(1024px) {
          float: left;
        }

        &.active {
          color: #fff;
          text-shadow: #38a 0px 1px 0px;
        }
      }
    }
  }

  .sf-menu.sf-horizontal.sf-shadow ul li {
    background: #eee url(images/bleeds.png) 50% 0px no-repeat;
  }
  .sf-sub-indicator {
    display: none;
  }
}

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #page-wrapper {
    border: 1px solid #ddd;
  }
  #page {
    margin: 20px 40px 40px;
  }
  #header,
  #container,
  #footer-wrapper {
    flex: 1 1 100%;
    justify-content: center;
    display: inherit;
  }
  #name-and-slogan,
  #main {
    text-align: center;
  }
  #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px;
  }
  #site-name {
    font-size: 28px;
    line-height: 1;
  }
  #site-slogan {
    margin-top: 7px;
    word-spacing: 0.1em;
    font-style: italic;
  }
  h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em;
  }
}

/* Admin page styles */
ul#views-display-menu-tabs {
  overflow: visible;

  li.add ul.action-list li {
    float: none;
  }
}
.views-ui-display-tab-bucket .advanced-help-link {
  float: left;
}