/* Bootstrap styles */
.row {
  margin-left: -15px;
  margin-right: -15px; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.col-md-6 {
  width: 50%; }

.col-md-3 {
  width: 25%; }

.col-md-9 {
  width: 75%; }

.col-md-4 {
  width: 33.3%; }

/* Custom styles */
.col-md-6 img,
.col-md-3 img,
.col-md-4 img,
.col-md-9 img {
  display: block;
  max-width: 100%;
  height: auto; }

.two-col,
.two-col-left,
.two-col-right,
.three-col,
.accordion {
  padding: 8px;
  margin: 10px auto;
  background: #eee;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset; }

.two-col .col-md-6,
.two-col-left .col-md-3,
.two-col-left .col-md-9,
.two-col-right .col-md-3,
.two-col-right .col-md-9,
.three-col .col-md-4,
.accordion dd .content,
.accordion dd.accordion-navigation > a {
  box-shadow: 0 1px 1px #ddd inset;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #fff;
  min-height: 5em; }

.two-col .col-md-6,
.two-col-left .col-md-3,
.two-col-left .col-md-9,
.two-col-right .col-md-3,
.two-col-right .col-md-9 {
  margin: -3px; }

.two-col-right .col-sidebar,
.two-col-left .col-sidebar {
  padding: 0; }

.two-col .col-2 {
  margin-left: 9px; }

.three-col .col-1 {
  margin-left: -3px; }

.three-col .col-2 {
  margin-left: 3px; }

.three-col .col-3 {
  margin-left: 3px;
  margin-right: -3px; }

.two-col-left .col-md-9 {
  margin-left: 8px; }

.two-col-right .col-md-9 {
  margin-right: 8px; }

.accordion {
  padding-top: 2px; }

.accordion:before {
  content: 'Accordion';
  text-transform: uppercase;
  padding-bottom: 4px;
  font-size: 10px;
  color: #888; }

.accordion dd.accordion-navigation > .content,
.accordion dd > .content {
  display: block !important; }

.accordion dd.accordion-navigation {
  margin-bottom: .7em !important; }

.accordion dd.accordion-navigation > a {
  padding: 5px;
  background: #ddd;
  min-height: 0;
  margin-bottom: 1px; }

.accordion dd.accordion-navigation > a p {
  margin: 0; }

/********************/
/***    MIXINS    ***/
/********************/
/********************/
/** Default Styles **/
big {
  font-size: larger; }

blockquote {
  display: block;
  font-style: italic;
  margin: 1em 2em;
  quotes: '\201c' '\201d'; }
  blockquote:before {
    content: open-quote; }
  blockquote:after {
    content: close-quote; }

code {
  font-family: monospace; }

del {
  text-decoration: line-through; }

fieldset {
  min-width: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.75em 0; }

h3 {
  font-size: 1.17em;
  margin: 0.83em 0; }

h4 {
  margin: 1.12em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

h1, h2, h3, h4,
h5, h6, b,
strong {
  font-weight: bolder; }

ins {
  text-decoration: underline; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0; }

q {
  display: inline;
  font-style: italic;
  quotes: '\201c' '\201d'; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

small {
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

tt {
  font-family: monospace; }

ol li, ul li {
  list-style: initial;
  margin-left: 40px; }

/***********************/
body:not(.page-admin) .block,
body:not(.page-admin) table,
body.page-admin #header .block,
body.page-admin #header table,
body.page-admin .region-footer .block,
body.page-admin .region-footer table {
  border: 0px; }

.help-page, div.comment, div.node {
  background: none;
  border: 0px; }

body.tao {
  color: black; }

.field.field-name-field-phone-number, .field.field-name-field-deferred-fee-amount, .field.pane-user-field-ss-or-ein, .field.field-name-field-ss-or-ein {
  display: inline-block; }
.field.field-name-field-phone-type, .field.field-name-field-identification {
  display: inline-block;
  font-weight: bold; }
  .field.field-name-field-phone-type .field-items, .field.field-name-field-identification .field-items {
    display: inline-block; }
  .field.field-name-field-phone-type:after, .field.field-name-field-identification:after {
    content: ':\00a0'; }
  .field.field-name-field-phone-type > .field-items, .field.field-name-field-identification > .field-items {
    margin-left: 0; }
.field.field-name-field-phone-type {
  width: 70px; }
.field .field-name-field-accept-text-messages .field-label {
  width: 160px; }
.field.field-name-field-address-type {
  font-weight: bold; }
  .field.field-name-field-address-type .field-items {
    display: inline-block;
    margin-left: 0; }
  .field.field-name-field-address-type:after {
    content: ':'; }
.field.field-name-field-address .field-items {
  margin-left: 0; }
.field.field-name-field-related-clients ul li {
  list-style: none;
  margin-left: 0; }

.field-collection-view {
  border: 1px dotted #D3D7D9;
  padding: 0.5em 1em;
  margin: 0; }

.view-content .field-collection-view {
  border: none; }

body:not(.maintenance-page) #header {
  /* Logo, site name and slogan are hidden because we are using the mini panel to render it. 
  These can also be hidden by disablng it in the theme settings, 
  but if we do that, the mini panel won't display it too. However, if 
  the mini panel is not used, we can comment out this rule. */ }
  body:not(.maintenance-page) #header > #logo,
  body:not(.maintenance-page) #header > #site-name,
  body:not(.maintenance-page) #header > #site-slogan {
    display: none; }

input[type="password"] {
  width: 100%;
  box-sizing: border-box; }

.field > .field-items {
  margin-left: 10px; }

.field.field-type-field-collection > .field-items {
  margin-left: 0; }

#autocomplete ul li {
  margin: 0;
  padding-left: 5px; }

div#toolbar div.toolbar-shortcuts ul {
  padding-top: 2px; }

#page-title .page-title {
  font-size: 2em;
  margin: 0; }

.content-main .featured-display {
  overflow: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .content-main .featured-display .views-field-body {
    font-size: 14px; }
  .content-main .featured-display .view-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .content-main .featured-display .views-row {
    display: block;
    margin-top: 0px;
    margin-bottom: 2em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }
  @media (min-width: 480px) {
    .content-main .featured-display .views-row {
      -webkit-box-flex: 1;
      -webkit-flex: 1 49%;
          -ms-flex: 1 49%;
              flex: 1 49%;
      margin-right: 1em; }
      .content-main .featured-display .views-row:last-child {
        margin-right: 0; } }
.content-main .featured-image img {
  width: 100%;
  height: auto; }
.content-main .views-field-title h3 {
  margin: 0; }
.content-main .views-field-field-featured-image img {
  float: left;
  margin-right: 15px; }
.content-main .views-row {
  display: table;
  margin-top: 2em;
  width: 100%; }

.view-filters {
  float: left; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .view-filters {
      float: none; } }

.views-exposed-form {
  margin-bottom: 1em;
  margin-right: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .views-exposed-form .basic-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .views-exposed-form > legend {
    position: absolute; }
  .views-exposed-form a.fieldset-title {
    height: 26px; }
  .views-exposed-form .views-exposed-widgets {
    display: block;
    padding: 28px 10px 10px 10px; }
  .views-exposed-form select[name="rid_op"] {
    width: 180px; }
  .views-exposed-form .actions {
    display: inline-block; }
    .views-exposed-form .actions .views-exposed-widget {
      float: none;
      padding-right: 0; }
      .views-exposed-form .actions .views-exposed-widget input {
        margin-top: 0; }

.vbo-views-form p,
.view-empty p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  clear: both;
  border: 1px solid #CCCCCC;
  padding: 1em; }

.vbo-views-form .fieldset-content input {
  margin-right: 0.5em; }

.view-content [id*='edit-select'] {
  min-width: 200px;
  display: inline-block; }

.views-edit-view #edit-actions {
  width: 100%; }

.views-field-edit-node a,
a[id*="edit-fields"]:not([title="Change widget type."]),
a[title="Export instance"] {
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  color: #fff;
  background-color: #7bc;
  text-shadow: #38a 0 1px 0; }

.field-multiple-table tr:nth-child(even) {
  background-color: #FAFAFA; }

.field-collection-container {
  border: 0px; }

table.views-table {
  border: 1px solid #DDDDDD !important; }
  table.views-table tr:nth-child(even) {
    background-color: #FAFAFA; }
  table.views-table ul li {
    margin-left: 0; }
  table.views-table .field-collection-view {
    margin: 0; }
    table.views-table .field-collection-view ul.field-collection-view-links {
      float: right; }
  table.views-table .item-list ul li {
    padding: 0; }
  table.views-table .field-name-field-phone-type {
    display: inline-block;
    font-weight: bold;
    min-width: 0%; }
    table.views-table .field-name-field-phone-type .field-items {
      display: inline-block;
      margin-left: 0; }
    table.views-table .field-name-field-phone-type:after {
      content: ':\00a0'; }
  table.views-table .field-collection-view {
    padding-top: 0; }
  table.views-table .field-collection-view .entity-field-collection-item {
    width: auto;
    float: left; }

.views-exposed-widget .form-item label {
  display: block; }

.field-collection-container ul.action-links-field-collection-add {
  margin: 5px 0 0 0; }

.pane-content .field-collection-container {
  border-bottom: 0;
  margin-bottom: 0; }

label,
.pane-title,
.ckeditor_links,
.link-edit-summary,
.form-actions input,
.vertical-tabs-list li a strong {
  text-transform: capitalize; }

.date-no-float {
  width: 100%; }

.field-items ul,
.field-items ol {
  overflow: hidden; }

ul.panels-ipe-linkbar li {
  float: left;
  list-style: none;
  margin-left: 0; }

.cke_inner .cke_top {
  overflow: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.cke_toolbar a.cke_button:hover {
  position: relative; }
  .cke_toolbar a.cke_button:hover:before {
    content: attr(title);
    color: #FFFFFF;
    padding: 4px 8px;
    position: absolute;
    bottom: 130%;
    background: #000000;
    text-align: center;
    border-radius: 6px;
    text-transform: capitalize; }
  .cke_toolbar a.cke_button:hover:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: calc(-50% + 1px);
    bottom: 112%; }

.links li,
.actions li,
.primary-tabs li,
.action-links li,
.vertical-tabs-list li,
#module-filter-tabs li {
  list-style: none;
  margin-left: 0; }

ul.primary-tabs {
  text-transform: capitalize; }

ul.secondary-tabs.links:hover li, ul.secondary-tabs.links:hover li a {
  float: none; }

ul.secondary-tabs {
  height: 20px;
  overflow: hidden; }
  ul.secondary-tabs li a {
    display: block;
    float: none;
    height: 0px;
    position: relative;
    top: -20px; }
  ul.secondary-tabs li.active a {
    top: 0; }
  ul.secondary-tabs:hover {
    height: auto;
    overflow: visible; }
    ul.secondary-tabs:hover li a {
      height: auto;
      position: relative;
      top: 0px; }

ul.links li,
ul.links li a {
  float: none; }

ul.action-links > li,
ul.links.pager > li,
ul.primary-tabs.links > li {
  margin-left: 0; }
ul.action-links > li, ul.action-links > li a,
ul.links.pager > li,
ul.links.pager > li a,
ul.primary-tabs.links > li,
ul.primary-tabs.links > li a {
  float: left; }

ul.rules-operations-add a {
  padding: 5px 5px 5px 20px; }

.views-mini-pager {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.views-content .item-list ul li {
  border-bottom: 0px;
  margin-left: 0px; }

.ctools-content ul li {
  margin-left: 0; }

#mini-panel-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #mini-panel-header .pane-page-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0; }
  #mini-panel-header .pane-page-site-name {
    font-size: 2.1em;
    line-height: 1.5;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0; }
    @media (min-width: 568px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2em;
        -webkit-box-flex: 4;
        -webkit-flex: 4;
            -ms-flex: 4;
                flex: 4; } }
    @media (min-width: 768px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2.5em; } }
  #mini-panel-header .pane-page-slogan {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
    @media (min-width: 568px) {
      #mini-panel-header .pane-page-slogan {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
            -ms-flex: 5;
                flex: 5; } }
    @media (min-width: 1024px) {
      #mini-panel-header .pane-page-slogan {
        font-size: 1.2em; } }

.ui-dialog .ui-dialog-titlebar.ui-widget-header,
.modal-header,
#modalContent div.ctools-modal-content .modal-header {
  background: url(images/bleeds.png) 0px -30px repeat-x;
  color: #ccc;
  font-size: 11px;
  height: 30px;
  overflow: hidden; }

#modal-title,
#modalContent div.ctools-modal-content .modal-title {
  font-size: 11px;
  float: left;
  line-height: 20px;
  padding: 5px 20px; }

#modal-content .form-item {
  position: static; }
#modal-content #views-content-views-content-type-edit-form {
  float: left;
  width: 50%; }
  #modal-content #views-content-views-content-type-edit-form .form-actions {
    position: absolute;
    right: 12px;
    top: 490px;
    width: 47%;
    padding: 9px 0; }
#modal-content .option-text-aligner {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #modal-content .option-text-aligner .form-item {
    float: none;
    border: 0; }
#modal-content .form-actions {
  width: 46%;
  padding: 1%;
  margin-left: 0; }

#block-system-user-menu ul.menu {
  float: right; }
  #block-system-user-menu ul.menu li {
    float: left;
    border: 0; }

.middle-column .pane-system-user-menu ul {
  text-align: center; }
.middle-column .pane-system-user-menu li {
  margin-left: 0;
  display: inline-block;
  border-bottom: 0; }

#block-tb-megamenu-main-menu .block-content {
  padding: 0; }

@media (min-width: 0px) and (max-width: 629px) {
  .tb-megamenu .nav-collapse .nav li a {
    border-top-color: transparent; } }

#block-tb-megamenu-main-menu .tb-megamenu-main-menu {
  background: transparent;
  display: block;
  margin: 0 auto; }
  @media (min-width: 500px) {
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu {
      display: table; } }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .nav-collapse {
    position: relative;
    top: 0; }
    @media (min-width: 500px) {
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .nav-collapse {
        display: block; } }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .btn-navbar {
    display: table;
    margin: 0 auto;
    float: none; }
    @media (min-width: 500px) {
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .btn-navbar {
        display: none; } }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .fa-navicon:before, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .fa-reorder:before, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .fa-bars:before {
    content: "\f0c9\ Menu";
    color: #333;
    font-size: 14px; }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .dropdown-menu {
    background-color: #f8f8f8;
    box-shadow: none; }
    @media (min-width: 500px) {
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .dropdown-menu {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); } }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-column-inner {
    padding: 0; }
    @media (min-width: 500px) {
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-column-inner {
        padding: 10px; } }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li {
    background: #75B8C9;
    border: 0px;
    float: none;
    list-style: none; }
    @media (min-width: 500px) {
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li {
        float: left;
        background: #eee url(images/bleeds.png) 50% 0px no-repeat; } }
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li.active, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li.active > a {
      background-color: #7bc !important;
      color: #fff;
      text-shadow: #38a 0px 1px 0px; }
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:first-child, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:first-child a {
      border-radius: 0; }
      @media (min-width: 500px) {
        #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:first-child, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:first-child a {
          border-radius: 5px 0px 0px 5px; } }
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:last-child, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:last-child a {
      border-radius: 0; }
      @media (min-width: 500px) {
        #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:last-child, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li:last-child a {
          border-radius: 0px 5px 5px 0px; } }
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li.dropdown.open > a {
      background-color: #f8f8f8;
      text-align: center; }
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li a {
      background-image: none;
      color: #333;
      text-shadow: #fff 0px 1px 0px;
      min-width: 70px;
      text-align: center;
      padding: 5px 10px; }
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li > a {
      float: none; }
      @media (min-width: 500px) {
        #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li > a {
          float: left; } }
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li > a:hover, #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li > a:focus {
        background-color: #f8f8f8; }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-subnav {
    margin-left: 1em; }
    @media (min-width: 500px) {
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-subnav {
        margin-left: 0; } }
  #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-subnav li a {
    width: 90%;
    text-align: left; }
  @media (min-width: 500px) and (max-width: 629px) {
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu {
      font-size: 11px; }
      #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li a {
        min-width: 0;
        padding: 5px 5.5px;
        font-size: 0.9em; } }
  @media (min-width: 630px) and (max-width: 689px) {
    #block-tb-megamenu-main-menu .tb-megamenu-main-menu .tb-megamenu-nav > li a {
      min-width: 0;
      padding: 5px 5.5px;
      font-size: 0.9em; } }

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
  background-color: #f8f8f8; }

#block-panels-mini-footer #mini-panel-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
#block-panels-mini-footer .tb-megamenu-main-menu button .fa-reorder:before {
  content: "\f0c9\ Menu";
  color: #333;
  font-size: 14px; }
#block-panels-mini-footer .tb-megamenu-menu-footer-links {
  background-color: transparent; }
  #block-panels-mini-footer .tb-megamenu-menu-footer-links .nav li {
    margin-left: 26px; }
    #block-panels-mini-footer .tb-megamenu-menu-footer-links .nav li:first-child {
      list-style: none; }
    #block-panels-mini-footer .tb-megamenu-menu-footer-links .nav li a {
      border: 0px;
      color: #008eb1;
      font-weight: normal;
      padding: 0; }

.ui-dialog button.ui-dialog-titlebar-close,
.modal-header .close,
#modalContent div.ctools-modal-content a.close {
  border-radius: 5px;
  background: #444 url(images/buttons.png) -4000px 50% no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 0px; }
  .ui-dialog button.ui-dialog-titlebar-close:hover, .ui-dialog button.ui-dialog-titlebar-close:focus,
  .modal-header .close:hover,
  .modal-header .close:focus,
  #modalContent div.ctools-modal-content a.close:hover,
  #modalContent div.ctools-modal-content a.close:focus {
    background: #444 url(images/buttons.png) -4000px 50% no-repeat; }
  .ui-dialog button.ui-dialog-titlebar-close span.ui-icon,
  .modal-header .close span.ui-icon,
  #modalContent div.ctools-modal-content a.close span.ui-icon {
    display: none; }

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  display: none; }

.mbp-folders ol, .mbp-folders ul {
  margin-left: 0; }
  .mbp-folders ol li, .mbp-folders ul li {
    margin-left: 0; }

.media-list-thumbnails .media-item.selected {
  background: green; }

.media-item .media-thumbnail {
  width: 160px;
  height: 160px; }

.field-type-field-collection .field-items .field-item {
  margin: 0; }
.field-type-field-collection .field-item.even {
  background-color: transparent; }
.field-type-field-collection .field-item.odd {
  background-color: #FAFAFA; }
  .field-type-field-collection .field-item.odd .field-type-field-collection .field-item.even .field-collection-view {
    background: white; }

.field-collection-view .field-label {
  width: auto; }

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body.maintenance-page #page-wrapper {
    border: 1px solid #ddd; }
  body.maintenance-page #page {
    margin: 20px 40px 40px; }
  body.maintenance-page #header,
  body.maintenance-page #container,
  body.maintenance-page #footer-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: inherit; }
  body.maintenance-page #header .section {
    text-align: center; }
  body.maintenance-page #name-and-slogan,
  body.maintenance-page #main {
    text-align: center; }
  body.maintenance-page #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px; }
  body.maintenance-page #site-name {
    font-size: 28px;
    line-height: 1; }
  body.maintenance-page #site-slogan {
    margin-top: 7px;
    word-spacing: 0.1em;
    font-style: italic; }
  body.maintenance-page h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em; }

/* Maintenance page styles */
.boxed,
div.panel-pane div.node.boxed {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
  position: relative; }
  .boxed h2, .boxed h3,
  div.panel-pane div.node.boxed h2,
  div.panel-pane div.node.boxed h3 {
    position: absolute;
    margin: 0;
    top: -11px;
    background: white;
    padding: 0 1em;
    display: inline-block !important; }
    .boxed h2.ctools-collapsible-handle, .boxed h3.ctools-collapsible-handle,
    div.panel-pane div.node.boxed h2.ctools-collapsible-handle,
    div.panel-pane div.node.boxed h3.ctools-collapsible-handle {
      padding-left: 1em; }
  .boxed .ctools-toggle,
  div.panel-pane div.node.boxed .ctools-toggle {
    position: absolute;
    top: -10px;
    z-index: 1; }

.my-sticky-element {
  text-align: center;
  box-sizing: border-box;
  width: initial;
  width: inherit;
  z-index: 100; }

#edit-actions {
  text-align: center; }

.pane-profile2-form-buttons {
  width: 100%; }

.form-item {
  width: 100%; }
  .form-item label {
    display: inline-block;
    font-size: 13px; }
  .form-item input[type="text"] {
    box-sizing: border-box; }

.field-collection-view .entity-field-collection-item {
  display: inline-block;
  width: auto; }

.field-collection-view ul.field-collection-view-links {
  margin: 0; }

ul.field-collection-view-links li:last-child a {
  margin: 0; }

ul.field-collection-view-links {
  width: 30%;
  display: inline-block;
  text-align: right;
  margin: 0; }
  ul.field-collection-view-links li {
    list-style: none;
    float: none;
    margin-left: 0;
    display: inline-block; }

.container-inline-date .form-item .form-item,
.container-inline-date .date-padding {
  float: none; }

.field-type-datetime.field-widget-date-popup .form-item {
  display: block;
  overflow: hidden; }
  .field-type-datetime.field-widget-date-popup .form-item label, .field-type-datetime.field-widget-date-popup .form-item input {
    display: inline-block; }
  .field-type-datetime.field-widget-date-popup .form-item label {
    margin-right: 5px; }
  .field-type-datetime.field-widget-date-popup .form-item input {
    width: 8em;
    text-align: center; }
  .field-type-datetime.field-widget-date-popup .form-item .description {
    display: none; }

input.field-add-more-submit {
  text-transform: capitalize;
  margin: .5em auto 0;
  display: table; }

.progress-disabled {
  float: none; }

.tabledrag-toggle-weight-wrapper {
  display: none; }

table.field-multiple-table tr {
  border: 1px solid #CCCCCC;
  border-width: 0 1px 0 1px; }
@media (min-width: 768px) {
  table.field-multiple-table tr.draggable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    table.field-multiple-table tr.draggable td.field-multiple-drag {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      box-sizing: border-box;
      display: block; }
    table.field-multiple-table tr.draggable td:not([class]) {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
      display: block; } }

tr.ief-row-entity .ief-entity-operations input.button-remove {
  position: relative;
  -webkit-transform: none;
          transform: none;
  right: 0;
  top: 50%; }

thead th.field-label label {
  padding-left: 1em; }

table[id*='field-notes-values'] > thead label {
  display: none; }

td:not([class]) {
  position: relative; }
  @media (min-width: 768px) {
    td:not([class]) .button-remove {
      position: absolute;
      right: -50px;
      top: 50%;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); } }

/* Admin page styles */
ul#views-display-menu-tabs {
  overflow: visible; }
  ul#views-display-menu-tabs li.add ul.action-list li {
    float: none; }

.views-ui-display-tab-bucket .advanced-help-link {
  float: left; }

#node-edit .form-item-path-alias input {
  width: auto; }

.pane-node-form-path .pane-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

select.form-select {
  height: auto; }

label.panopoly-admin-hide-body-label-processed {
  text-align: left !important; }

.form-item.form-type-textarea {
  padding: 0;
  border: 0; }

.rubik-inline-field-descriptions .page-content .form-item .description,
.description {
  color: green;
  box-sizing: border-box;
  padding: 5px;
  clear: both; }
  .rubik-inline-field-descriptions .page-content .form-item .description em,
  .description em {
    display: initial; }
  .rubik-inline-field-descriptions .page-content .form-item .description:empty,
  .description:empty {
    padding: 0; }
  .rubik-inline-field-descriptions .page-content .form-item .description p,
  .description p {
    margin: 1em 0; }
    .rubik-inline-field-descriptions .page-content .form-item .description p:first-child,
    .description p:first-child {
      margin-top: 0; }
    .rubik-inline-field-descriptions .page-content .form-item .description p:last-child,
    .description p:last-child {
      margin-bottom: 0; }
  .rubik-inline-field-descriptions .page-content .form-item .description ul, .rubik-inline-field-descriptions .page-content .form-item .description ol,
  .description ul,
  .description ol {
    margin: 0 2em;
    list-style: initial; }
    .rubik-inline-field-descriptions .page-content .form-item .description ul li, .rubik-inline-field-descriptions .page-content .form-item .description ol li,
    .description ul li,
    .description ol li {
      margin: 0.25em 0;
      list-style: disc; }

.admin-list .description {
  padding: 5px 0; }

.admin-list li {
  list-style: none; }

form .tabs {
  position: relative;
  z-index: 1; }

.form-item label {
  color: black; }

.ui-widget-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
  background: #7db9e8;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7db9e8), color-stop(100%, #1e5799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7db9e8 0%, #1e5799 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #7db9e8 0%, #1e5799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
  /* IE6-9 */ }

.ui-datepicker .ui-datepicker-title select {
  color: white; }
.ui-datepicker .ui-icon {
  -webkit-filter: invert(1);
          filter: invert(1); }

.ui-datepicker-current-day .ui-state-active {
  background: #7DB9E8; }

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid transparent; }

.ui-dialog .ui-dialog-titlebar,
.overlay .ui-dialog-titlebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,333333+100 */
  background: #666666;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #333333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666666 0%, #333333 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #666666 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 );
  /* IE6-9 */
  padding: 0 14px 0 24px; }

.ui-dialog .ui-dialog-title {
  line-height: 30px; }

.treeTable tr td .expander {
  margin-left: 0 !important; }

#admin-menu .shortcut-toolbar li {
  padding: 0;
  border: 0;
  margin: 0.25em 0; }

#media-tabs-wrapper .ui-tabs-nav li, #media-tabs-wrapper .ui-tabs-nav li.ui-state-active {
  padding: 0 0.5em;
  margin-top: -2px; }

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0 1em; }

#edit-timezone select#edit-timezone--2 {
  width: 100%; }

#user-login .form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #user-login .form-item label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100px;
        -ms-flex: 0 100px;
            flex: 0 100px; }
  #user-login .form-item input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100px;
        -ms-flex: 1 0 100px;
            flex: 1 0 100px;
    min-width: 100px; }
  #user-login .form-item .description {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto; }

#user-login .g-recaptcha > div > div, #user-pass .g-recaptcha > div > div {
  display: table;
  margin: 0 auto; }

@media (min-width: 0px) and (max-width: 400px) {
  .g-recaptcha {
    -webkit-transform: scale(0.73);
            transform: scale(0.73);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; } }

.form-item-path-alias {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .form-item-path-alias label, .form-item-path-alias span {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
            flex: 0 auto; }
  .form-item-path-alias input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto; }

label[for="edit-pubdate"] {
  padding-left: 0; }

#edit-pubdate {
  margin-left: 10px; }

#edit-entity-recur-days .form-item {
  width: 100px;
  float: left; }

#node-edit #edit-entity-recur .form-item-entity-recur-rules-frequency,
#node-edit #edit-entity-recur .form-item-entity-recur-rules-period {
  display: inline-block;
  width: auto; }
#node-edit #edit-entity-recur .form-item-entity-recur-until {
  display: inline-block;
  margin-top: 10px;
  width: 100%; }
  #node-edit #edit-entity-recur .form-item-entity-recur-until label {
    padding: 0; }
  #node-edit #edit-entity-recur .form-item-entity-recur-until label, #node-edit #edit-entity-recur .form-item-entity-recur-until .description {
    display: inline-block;
    vertical-align: middle; }
  #node-edit #edit-entity-recur .form-item-entity-recur-until .description {
    width: 235px; }
  #node-edit #edit-entity-recur .form-item-entity-recur-until .form-required {
    display: none; }
#node-edit #edit-entity-recur #edit-entity-recur-until {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  #node-edit #edit-entity-recur #edit-entity-recur-until label {
    display: none; }
  #node-edit #edit-entity-recur #edit-entity-recur-until input {
    display: inline-block;
    width: auto; }
  #node-edit #edit-entity-recur #edit-entity-recur-until .description {
    display: inline-block;
    width: auto; }
#node-edit .field-type-datetime.field-widget-date-popup .form-item {
  display: inline-block; }
#node-edit .field-type-datetime.field-widget-date-popup .date-float {
  width: 100%; }
#node-edit .field-type-datetime.field-widget-date-popup .start-date-wrapper, #node-edit .field-type-datetime.field-widget-date-popup .end-date-wrapper {
  display: inline-block;
  margin: 1em 0 0 1em;
  width: auto; }
#node-edit .field-type-datetime.field-widget-date-popup .end-date-wrapper label, #node-edit .field-type-datetime.field-widget-date-popup .end-date-wrapper .date-padding {
  display: inline-block; }
#node-edit .field-type-datetime.field-widget-date-popup .end-date-wrapper label {
  padding: 0; }
#node-edit .field-type-datetime.field-widget-date-popup .description {
  display: none; }
#node-edit .field-type-datetime.field-widget-date-popup input[type="checkbox"] {
  width: auto;
  margin-right: 5px; }
#node-edit .pane-node-form-publishing .pane-title {
  margin-bottom: 0; }
#node-edit .pane-node-form-publishing .form-item-pubdate {
  width: 100%; }
  #node-edit .pane-node-form-publishing .form-item-pubdate .form-item label {
    width: 40px; }
  #node-edit .pane-node-form-publishing .form-item-pubdate .form-item input {
    width: 10em;
    display: inline-block; }
  #node-edit .pane-node-form-publishing .form-item-pubdate .form-item .description {
    width: auto;
    display: inline-block; }
#node-edit .pane-node-form-author .form-item-date {
  width: 100%; }

.page-admin-field-edit .field-name-field-phone label {
  min-width: 100px; }
.page-admin-field-edit .field-name-field-phone .field-name-field-phone-number input {
  width: auto; }
.page-admin-field-edit .field-name-field-phone .field-name-field-note label {
  width: auto; }
.page-admin-field-edit .field-name-field-collection-mailing-address .form-item[class*="postal-code"] input {
  width: auto; }
.page-admin-field-edit .field-name-field-family-member-contacts .field-label label {
  width: auto; }
.page-admin-field-edit .field-name-field-family-member-contacts label {
  width: 100px; }

.page-field-collection-field-collection-mailing-address .form-item {
  margin-bottom: 0; }
.page-field-collection-field-collection-mailing-address .locality-block .form-item {
  width: auto; }
.page-field-collection-field-collection-mailing-address .locality-block .locality {
  width: auto; }

.page-field-collection-field-phone label {
  min-width: 100px; }
.page-field-collection-field-phone .field-name-field-phone-number input {
  width: auto; }
.page-field-collection-field-phone .field-name-field-note label {
  width: auto; }

.pane-user-roles ul li {
  margin-left: 0;
  padding: 0; }
.pane-user-roles li.first {
  text-transform: capitalize; }

.advanced-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em; }
  .advanced-options #edit-secondary.collapsed {
    width: 132px;
    margin: 0; }
    .advanced-options #edit-secondary.collapsed .fieldset-title {
      white-space: nowrap; }
  .advanced-options .bef-secondary-options {
    display: block; }
    .advanced-options .bef-secondary-options .views-exposed-widget {
      display: inline-block;
      vertical-align: top;
      float: none; }

.password-strength {
  width: 100%; }

.prose p {
  margin-bottom: 10px; }

#page .pane-content-area.boxed {
  overflow: hidden; }
#page .pane-content-area .field-name-field-featured-image img {
  float: left;
  margin-bottom: 1em;
  max-width: 480px;
  height: auto;
  width: 100%; }
  @media (min-width: 481px) {
    #page .pane-content-area .field-name-field-featured-image img {
      width: 50%;
      margin-right: 1em;
      margin-bottom: 0; } }

ul.links.inline li.book_add_child a {
  display: block; }

.manualcrop-selection-info {
  position: initial !important; }

#media-browser-page .view-filters {
  float: none; }

@media (min-width: 0px) and (max-width: 767px) {
  .form-item table, .form-item thead, .form-item th, .form-item tbody, .form-item tr, .form-item td {
    display: block; }
  .form-item td.field-multiple-drag {
    display: inline-block; }
  .form-item input.field-add-more-submit {
    width: 100%; }
  .form-item .field-name-field-status {
    float: none; } }

html.js fieldset.collapsible div.fieldset-wrapper {
  overflow: visible !important; }

#edit-field-website .button-remove {
  right: -25px;
  top: 35%; }

/*# sourceMappingURL=sp123_rubik_style.css.map */