@import "bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "bourbon";

/****** VARIABLES ******/
$primary_color: #0f753b;
$primary_shadow: #33aa58;

/***********************/

/****** MIXINS ******/

/***********************/

// @import 'https://fonts.googleapis.com/css?family=Allura|Italianno';

body {
  max-width: 1360px;
  margin: 0 auto;
}

#header,
#console,
#branding .limiter,
#page-title .limiter,
#page,
#footer,
.region-footer {
  width: 100%;
}

#page-title .limiter {
  width: auto;
}

a, .page-title {
  color: $primary_color;
}

.pager li.pager-current, .primary-tabs li.active {
  background-color: $primary_color;
}
.pager li.pager-current span, .primary-tabs li.active a {
  text-shadow: $primary_shadow 0 1px 0;
}

.action-links a {
  background-color: $primary_color;
  text-shadow: $primary_shadow 0 1px 0;
}

.boxed,
div.panel-pane div.node.boxed {
  border: 2px solid #689a04 !important;
  border-radius: 10px;
}

.site-title-1 {
  // font-family: 'Allura', Helvetica, Arial, sans-serif;
  font-size: 2em;
}
.site-title-2 {
  // font-family: 'Italianno', Helvetica, Arial, sans-serif;
  color: #9bcb3c;
  display: block;
  font-size: 1.5em;
  margin-right: 1em;
  margin-top: -15px;
}

#mini-panel-header {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  #site-title {
    display: inline-block;
    line-height: 1;
    text-align: right;
    margin: 0;
    vertical-align: middle;
  }
  .logo-container {
    display: inline-block;
  }

  .pane-page-logo {
    flex: 0;
  }

  .pane-page-site-name {
    font-size: 2.1em ;
    line-height: 1.5;
    text-align: center;
    flex: 1 0;

    @include breakpoint(568px) {
      font-size: 2em;
      flex: 4;
    }
    @include breakpoint(768px) {
      font-size: 2.2em;
    }
    @include breakpoint(1024px) {
      font-size: 2.5em;
    }
  }
  .pane-page-slogan {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    flex: 1 1 100%;

    @include breakpoint(568px) {
      flex: 5;
    }
    @include breakpoint(1024px) {
      font-size: 1.2em;
    }
  }
}

#block-tb-megamenu-main-menu {
  .tb-megamenu-main-menu{
    .tb-megamenu-nav>li {
      &.active,
      &.active>a {
        background-color: $primary_color !important;
        color: #fff;
        text-shadow: $primary_shadow 0px 1px 0px;
      }
    }
  }
}

#page .radix-sanderson {
  .row:first-child {
    background: url('images/banner.png') cover;
  }
}

#block-panels-mini-footer {
  #mini-panel-footer {
    display: block;

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      display: flex;
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      display: block;
    }
    
    @include breakpoint(768px (orientation landscape)) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  .pane-custom.pane-2 {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 1em;

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      width: auto;
      padding-top: 5px;
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      width: 50%;
    }

    
    @include breakpoint(768px (orientation landscape)) {
      flex: 0 auto;
      width: auto;
      margin-bottom: 0px;
    }
  }

  .pane-menu-menu-footer-links .pane-content {
    float: right;
    width: 50%;

    ul.menu {
      text-align: center;
    }

    .menu li {
      border-bottom: 0px;
      float: none;
      margin-left: 0;
    }

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      width: auto;

      ul.menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      width: 50%;
      float: left;
      clear: left;

      ul.menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    }
    
    @include breakpoint(768px (orientation landscape)) {
      flex: 0 auto;
      width: auto;

      .menu li {
        float: left;

        &:first-child {
          margin-left: 2em;
        }
      }
    }
  }

  .pane-custom.pane-3 {
    float: left;
    width: 50%;
    text-align: center;

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      width: auto;
      padding-top: 5px;
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      width: 50%;
      position: absolute;
      right: 0;
    }
  }
}

.myriad-left-sidebar {
  .main-content {
    width: calc(70% - 1em);
    display: inline-block;
    margin-left: 1em;
  }
  .sidebar {
    float: left;
    width: calc(30% - 1em);
    display: inline-block;
    margin-right: 1em;
  }
}

div.panel-pane div.node.node-advertisement {
  padding: 1em;
  border: 1px solid #4cae4c;
  margin-bottom: 2em;
  width: 100%;
  box-sizing: border-box;

  &.node-ad-image-portrait,
  &.node-ad-amazon-book {
    .col-1 {
      float: left;
      margin-right: 1em;
    }
  }

  &.node-ad-image-landscape {
    text-align: center;
  }

  .pane-node-title {
    text-align: center;
  }
  .pane-node-field-ad-sub-headline {
    text-align: center;
  }

  .file-image img {
    margin: auto;
  }
  .file-video iframe {
    display: table;
    margin: auto;
  }

  .field-items {
    margin-left: 0;
  }
}

.pane-node-field-amazon-book-listing {
  display: table;

  .field-name-field-amazon-book-listing {
    border: 0px;
  }
}

.pane-node-field-call-to-action {
  display: table;
  margin: 1em auto;
  padding: 6px 12px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #5cb85c;
  border-color: #4cae4c;

  a {
    color: #fff;
  }

  &:hover {
    background-color: #449d44;
    border-color: #398439;
    text-decoration: none;
  }
}

div.panel-pane div.node.node-testimonial {
  padding: 1em;
  border: 1px solid #4cae4c;
  margin-bottom: 2em;

  .pane-node-field-video {
    text-align: center;
  }

  .book-thumbnail {
    float: left;
    margin-right: 1em;
  }

  .row-one {
    .col-1 {
      float: left;
      margin-right: 1em;
    }
    .col-2{
      .pane-node-field-amazon-book-listing {
        display: block;
        overflow: hidden;

        .pane-title, .field-name-field-amazon-book-listing {
          display: inline-block;
        }
      }
    }
  }

  .row-two .col-1 {
    float: left;
    margin-right: 1em;
  }

  .row-2 {
    .pane-node-field-amazon-book-listing {
      display: block;
      overflow: hidden;

      .pane-title, .field-name-field-amazon-book-listing {
        display: inline-block;
      }
    }
  }

  .field-items {
    margin-left: 0;
  }
}

.node-type-training-roundtable {
  .pane-node-field-video {
    text-align: center;
  }

  .pane-node-field-roundtable-session-date {
    text-align: center;

    .pane-title, .pane-content {
      display: inline-block;
    }
  }

  .field > .field-items {
    margin-left: 0px;
  }
}

.pane-roundtable-sessions-jump-menu {
  .pane-content {
    margin-top: 1em;
    text-align: center;
  }
}

.node-type-training-power-to-publish {
  .field > .field-items {
    margin-left: 0px;
  }

  .pane-node-title {
    text-align: center;
  }
  .pane-node-field-video {
    text-align: center;
  }
}

.node-type-course {
  .field > .field-items {
    margin-left: 0px;
  }

  .pane-node-title {
    text-align: center;
  }
  .pane-node-field-video {
    text-align: center;
  }
}

.pane-course-outline {
  .item-list ul li {
    border-bottom: 0px;
  }
}

.pane-course-navigation {
  .item-list ul {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;

    li {
      border-bottom: 0px;
      display: inline-block;
      margin-left: 1em;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.field-collection-view {
  border: 0px;
}

.field-collection-item-field-resources {
  .field-name-field-resource-documents {
    margin-bottom: 1em;
  }

  .field-item {
    margin-bottom: 0.3em;

    &.odd {
      background-color: white;
    }
  }
}

.field-collection-container .field-items .field-items .field-item {
  margin-bottom: 0.3em;
}

.views-slideshow-cycle-main-frame-row {
  width: 100%;
}

.pane-nodequeue-1-panel-pane-1 {
  .pane-content {
    margin-top: 1em;
    margin-bottom: -1em;
  }

  .ui-state-hover, .ui-state-focus, .ui-state-active {
    .ui-icon {
      filter: invert(100%) brightness(100);
    }
  }
  .ui-accordion-header {
    border-color: #4cae4c;
    margin: 5px 0 !important;

    &:hover {
      background-color: #51a351;

      a {
        color: white;
      }
    }
  }
  .ui-accordion-header-active {
    border-bottom: 0px;
    color: white;
    background-color: $primary_color;

    &:hover {
      background-color: $primary_color;
    }

    a {
      color: white;
    }
  }
  .ui-accordion-content {
    border-color: #4cae4c;
    margin-bottom: 10px;
    margin-top: -19px;
    padding: 0;
  }
  .views-row {
    line-height: 2;
    border-bottom: 1px solid #f3f3f3;

    .field-content {
      display: block;

      a {
        display: block;
        padding: 0 2.2em;
      }
    }

    a.active {
      color: white;
      background-color: #51a351;
    }
  }
  .views-row-even {
    background-color: #f9f9f9;
  }
}

fieldset.fieldset {
  margin-bottom: 1em;
  border: 2px solid #689a04;
  border-radius: 10px;
}

/************************************************************************************************************************************************************************************/
/********************/
/***    MIXINS    ***/
/********************/

@mixin loans-ief {
  * {
    box-sizing: border-box;
  }
  div[class*="form-title"] {
    display: inline;
  }

  .group-loan-custom-title {
    .field-name-field-loan-custom-title {
      @include flexifields(90px);
    }

    .field-name-field-loan-custom-title-options {
      .form-radios {
        display: inline-block;
        width: auto;
        margin-left: 10px;
      }
      .form-type-radio {
        display: inline-block;
        width: auto;
        margin-right: 5px;
      }
    }
  }

  .field-name-field-used-diy-form {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
  }
  .loan-debit-info,
  .deferred-enrolment-fees {
    @include breakpoint(0px) {
      width: 100%;
      margin-right: 0;
      float: none;
    }
     @include breakpoint(780px) {
      display: block;
      width: 49%;
      margin-right: 1%;
      float: left;
      clear: left;
    }
    @include breakpoint(992px) {
      width: 100%;
      margin-right: 0;
      float: none;
    }
    @include breakpoint(1280px) {
      display: block;
      width: 49%;
      margin-right: 1%;
      float: left;
      clear: left;
    }
  }
  .loan-notes {
    clear: both;
    width: 100%;
  }

  .field-name-field-bwma-loan-program {
    clear: both;
    display: inline-block;
    width: 100%;
    .form-radios .form-item {
      float: left;
      width: 150px;
    }
  }

  .field-name-field-drafting-account-informati {
    .fieldset-title {
      font-size: 13px;
      font-weight: bold;
    }

    .field .field-label {
      width: 152px;
    }

    .form-item {
      input {
        width: auto;
      }
      label {
        width: 150px;
      }
    }

    .field-name-field-account-owner-name,
    .field-name-field-lender {
      @include flexifields(150px);
    }
    .field-name-field-account-type {
      .form-item.form-type-radios {
        width: 100%;
      }
      .form-radios {
        display: inline-block;
      }
      .form-type-radio {
        display: inline-block;
        margin-right: 10px;
        width: auto;
      }
    }
  }

  .field-name-field-total-deferred-enrollment- {
    input {
      display: inline-block;
      width: auto;
    }
  }
  .field-name-field-loan-enrollment-date {
    display: inline-block;
  }
  .field-name-field-used-diy-form {
    display: inline-block;
    vertical-align: top;

    label.option {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .field-name-field-deferred-fee-amount {
    width: 100%;
  }
  .field-name-field-additional-extra-principal,
  .field-name-field-debit-amount-advanced-by-s,
  .field-name-field-debit-advanced-by-afts-amo {
    input {
      width: auto;
    }
  }

  .field-name-field-collection-status {
    .field-name-field-status,
    .field-name-field-date {
      float: left;
      width: 50%;
    }

    .field-name-field-status .description {
      display: inline-block;
      width: auto;
    }

    .field-name-field-note {
      clear: left;
    }
  }

  .field-name-field-welcome-package-note {
    clear: left;
  }
  .field-name-field-debit-fee-notes {
    .field-name-field-note {
      clear: left;
    }
  }
  .field-name-field-amount input {
    width: auto;
  }

  .field-name-field-address {
    .form-item {
      display: flex;
      align-items: center;

      label {
        flex: 0 0 75px;
      }
      input {
        flex: auto;
      }
      select {
        width: auto;
      }
    }
  }
  .field-name-field-loan-type .form-item {
    display: flex;
    align-items: center;

    label {
      flex: 0 0 90px;
    }
  }

  .field-name-field-monthly-payment,
  .field-name-field-additional-extra-principal,
  .field-name-field-debit-fee {
    input {
      width: auto;
    }
  }

  .field-name-field-debiting-schedule .form-radios .form-item {
    float: left;
    width: 100px;
  }

  .field-name-field-current-lender,
  .field-name-field-current-service-bureau {
    label {
      font-weight: bold;
      font-size: 13px;
    }

    .field-items { margin-left: 0; }
  }

  .afts-advance {
    label { width: 287px; }
    input { width: auto;  }

    .field-name-field-debit-advanced-by-afts-amo,
    .field-name-field-chargeback-fee-amount {
      label {
        margin-right: -12px;
      }
    }
  }

  .field-name-field-deferred-fees {
    label { width: 162px; }
    input { width: auto;  }

    .field-name-field-deferred-fee-amount {
      label {
        margin-right: -12px;
      }
    }
  }
  
  .bwma-enrolment,
  .loan-lenders,
  .loan-sb,
  .afts-advance,
  .loan-status-history {
    @include breakpoint(0px) {
      display: block;
      width: 100%;
      margin-left: 0;
    }
    @include breakpoint(780px) {
      display: inline-block;
      width: 49%;
      margin-left: 1%;
    }
    @include breakpoint(992px) {
      display: block;
      width: 100%;
      margin-left: 0;
    }
    @include breakpoint(1280px) {
      display: inline-block;
      width: 49%;
      margin-left: 1%;
    }
  }
  .loan-status-history {
    float: right;
  }
  .loan-chaos-data {
    clear: both;

    .form-item input {
      width: auto;
    }
  }
  .loan-lenders {
    .field-name-field-lender .form-item {
      display: flex;

      label { flex: 0 0 114px; }
      input { flex: auto; }
    }
    label { width: 110px;  }
    input { width: auto;  }
  }
  .loan-sb {
    .field-name-field-service-bureau .form-item {
      display: flex;

      label { flex: 0 0 184px; }
      input { flex: auto; }
    }
    label { width: 180px;  }
    input { width: auto;  }
  }

  .boxed {
    position: relative;

    h3 {
      position: absolute;
      top: -11px;
      background: white;
      padding: 0 0.5em;
    }
  }

  div[class*="form-status"] {
    display: none;
    
    .form-type-radio {
      display: inline-block;
      padding: 5px;
      width: auto;
  
      label { font-weight: bold; }
    }
  }
}

@mixin loan-node {
  .node-loan,
  .boxed {
    position: relative;

    h3 {
      position: absolute;
      margin-left: 0;
      padding: 0 1em;
      background: white;
      top: -10px;
    }
  }

  .pane-node-group-loan-custom-title {
    .field-name-field-loan-custom-title {
      @include flexifields(90px);
    }

    .field-name-field-loan-custom-title-options {
      .form-radios {
        display: inline-block;
        width: auto;
        margin-left: 10px;
      }
      .form-type-radio {
        display: inline-block;
        width: auto;
        margin-right: 5px;
      }
    }
  }

  .pane-loan-debit-information {
    .field-label { width: 250px; }

    .field-name-field-debit-fee-notes {
      &>.field-items {
        width: 100%;
      }
      .field-collection-item-field-debit-fee-notes {
        margin-right: 2em;

        .field-name-field-note {
          clear: both;
        }
      }
      .field-name-field-date,
      .field-name-field-staff-user,
      .field-name-field-note {
        .field-label {
          width: auto;
        }
      }
    }
  }
  .pane-node-field-deferred-enrollment-fees {
    .field-label { width: 270px; }
  }
  .pane-node-field-lenders {
    .field-label { width: 120px; }
  }
  .pane-bwma-enrolment {
    .field-label { width: 165px; }

    .field-name-field-welcome-package-sent-date,
    .field-name-field-welcome-package-note {
      .field-label {
        width: 70px;
      }
    }
  }
  .pane-afts-advance {
    .field-label { width: 280px; }
  }
  .pane-node-field-collection-status {
    .field-label { width: 90px; }

    .field-name-field-note .field-label { width: auto; }
  }
  .pane-node-field-service-bureaus {
    .field-label { width: 190px; }
  }
  .pane-loan-chaos-data {
    .field-label { width: 225px; }
  }
  .field-name-field-drafting-account-informati {
    .fieldset-title {
      font-size: 13px;
      font-weight: bold;
    }

    .field .field-label {
      width: 152px;
    }

    .form-item {
      input {
        width: auto;
      }
      label {
        width: 150px;
      }
    }

    .field-name-field-account-owner-name,
    .field-name-field-lender {
      @include flexifields(150px);
    }
    .field-name-field-account-type {
      .form-item.form-type-radios {
        width: 100%;
      }
      .form-radios {
        display: inline-block;
      }
      .form-type-radio {
        display: inline-block;
        margin-right: 10px;
        width: auto;
      }
    }
  }
  .field-name-field-loan-enrollment-date {
    display: inline-block;
  }
  .field-name-field-used-diy-form {
    display: inline-block;
    vertical-align: top;

    label.option {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .field.field-name-field-deferred-fee-label {
    display: inline-block;
    font-weight: bold;
    width: 270px;

    .field-items {
      display: inline-block;
      margin-left: 0;
    }
    &:after {
      content: ':\00a0';
    }
  }

  .field-name-field-current-lender,
  .field-name-field-current-service-bureau {
    label {
      font-weight: bold;
      font-size: 13px;
    }

    .field-items { margin-left: 0; }
  }
}

@mixin flexifields($label-width, $min-width: 100px) {
  .form-item {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
  }
  label {
    flex: 0 0 $label-width;
  }
  input {
    flex: 1 1 calc(100% - #{$label-width});
    min-width: 100px;
  }
}

/********************/

.view-content {
  .field-name-field-business-contacts {
    .field-name-field-family-contact,
    .field-name-field-email {
      .field-items { margin-left: 0; }
    }
  }

  .field-name-field-current-lender,
  .field-name-field-current-service-bureau {
    .field-items { margin-left: 0; }
  }
}

.view-clients,
.view-consultants,
.view-referral-partners,
.view-staff-users,
.view-lenders,
.view-vendors,
.view-service-bureaus,
.view-non-staff-users {
  .views-field-edit-node {
    vertical-align: middle;

    a {
      transform: rotate(-90deg);
    }
  }
}

.view-lenders .views-field-edit-node a {
  transform: rotate(0deg);
  top: initial;
  margin-top: initial;
}

.view-service-bureaus .views-field-edit-node a {
  margin-top: -12%;
}

.pane-basic-user-info .field-label {
  width: 100px;
}
.pane-basic-user-info-for-user-account .field-label {
  width: 100px;
}
.pane-user-field-identification {
  width: 100px;
  float: left;
}

table.views-table {
  .field-name-field-phone-type,
  .field-name-field-deferred-fee-label,
  .pane-user-field-identification {
    min-width: 0%;
  }
}

#block-panels-mini-header {
  display: flex;
  width: 100%;
  margin-bottom: 0px;

  .block-content {
    width: 100%;
  }

  .pane-page-site-name {
    font-size: 1.5em ;
    line-height: 1.5;
    text-align: center;

    @include breakpoint(295px) {
      font-size: 1.8em;
    }

    @include breakpoint(400px) {
      font-size: 2em;
    }
  }
  .pane-page-slogan {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;

    @include breakpoint(295px) {
      font-size: 1.2em;
    }

    @include breakpoint(400px) {
      font-size: 1.5em;
    }
  }

  .middle-column {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .right-column,
  .left-column {
    flex: 0 auto;
  }

  .menu-name-user-menu {
    ul li {
      margin-left: 0;
      white-space: nowrap;
      text-transform: capitalize;
      border-bottom: none;
    }
  }
}

.secure-site-notif .block-content {
  background-color: #2ECC71;
  text-align: center;
  padding: 10px;
}
.region-footer #block-block-2 .block-content {
  text-align: center;

  p {
    margin: 0;
    width: 100%;
  }
}

#block-system-user-menu {
  ul.menu {
    float: right;

    li {
      float: left;
      border: 0;
    }
  }
}

.middle-column .pane-system-user-menu {
  ul {
    text-align: center;
  }
  li {
    margin-left: 0;
    display: inline-block;
    border-bottom: 0;
  }
}

.node-type-loan {
  @include loan-node;
}

.node-type-service-bureau {
  .pane-node-field-phone {
    padding-top: 2.5em;
    @include breakpoint(359px) {
      padding-top: 1em;
    }
    @include breakpoint(992px) {
      padding-top: 1em;
    }
  }

  .pane-node-field-email-address {
    padding-top: 2.5em;
    @include breakpoint(452px) {
      padding-top: 1em;
    }
    @include breakpoint(992px) {
      padding-top: 2.5em;
    }
    @include breakpoint(1260px) {
      padding-top: 1em;
    }
  }

  .pane-node-field-collection-mailing-address {
    padding-top: 2.5em;
    @include breakpoint(391px) {
      padding-top: 1em;
    }
    @include breakpoint(992px) {
      padding-top: 2.5em;
    }
    @include breakpoint(1076px) {
      padding-top: 1em;
    }
  }

  .pane-node-field-collection-mailing-address {
    padding-top: 2.5em;
    @include breakpoint(376px) {
      padding-top: 1em;
    }
    @include breakpoint(992px) {
      padding-top: 2.5em;
    }
    @include breakpoint(1030px) {
      padding-top: 1em;
    }
  }
}

.node-type-press-release.panelized-node {
  h1.page-title {
    text-align: center;
  }
  
  .content-main {
    max-width: 960px;
    background: #FFF;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5%;
    box-sizing: border-box;

    &:before, &:after {
      content: "";
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 20px rgba(0,0,0,0.8);
      top: 50%;
      bottom: 0;
      left: 10px;
      right: 10px;
      border-radius: 100px / 10px;
    }
  }

  .pane-node-field-immediate-release,
  .contact-title {
    h4 {
      margin: 0;
    }
  }

  .field-name-field-pr-about {
    margin: 2em 0;
  }

  .field-name-field-full-contact-details {
    margin: 2em 0;
    text-align: center;

    h4 {
      margin: 0;
      display: inline-flex;

      &:after {
        content: '\00a0';
      }
    }
  }

  .field-name-field-upload-document {
    display: flex;
    justify-content: center;
  }

  .field-name-field-featured-image {
    width: 100%;

    @include breakpoint(481px){
      margin: 0 1em 1em 0;
      width: 50%;
      float: left;
    }
  }

  .pane-node-title h1 {
    line-height: 1.5;
    text-align: center;
  }

  .pane-node-links {
    text-align: center;
  }
}


/***********************/
/* USER PROFILE STYLES */
/***********************/

.panelizer-view-mode.node-embedded-to-profile {
  >h3 {
    cursor: pointer;

    &:before {
      content: '';
      width: 17px;
      height: 17px;
      display: inline-block;
      background-image: url(../../../all/modules/ctools/images/collapsible-collapsed.png);
      background-position: 4px 6px;
      background-repeat: no-repeat;
      position: absolute;
      left: 0px;
    }
  }

  >h3.open:before {
    background-image: url(../../../all/modules/ctools/images/collapsible-expanded.png);
    background-position: 4px 9px;
  }

  >.panel-display {
    display: none;
  }
}

.form-item {
  width: 100%;

  label {
    display: inline-block;
    font-size: 13px;
  }

  input[type="text"] {
    box-sizing: border-box;
  }
}
.form-item.form-type-date-combo {
  margin-bottom: 0;
}
.field-type-datetime.form-wrapper {
  margin-bottom: 0;
}

.page-staff-users table.views-table .item-list ul li {
  border: none;
}

.page-user-view {
  .field-name-field-user-about {
    p { margin: 0;  }
  }
  .field-name-field-staff-user {
    .field-label {  width: 50px;  }
  }

  .pane-staff-information-profile {
    .field-label-inline .field-label {
      width: 105px;
    }
  }
}

.page-user-view,
.page-user {
  
}

.pane-chaos-data .field-label-inline .field-label,
.loan-chaos-data label {
  width: 288px;
}

.pane-additional-identifying-informati,
.pane-additional-identifying-info-edit {
  .panel-separator {
    display: none;
  }
  .pane-content {
    width: 100%;
  }

  padding-top: 3em;
  @include breakpoint(458px) {
    padding-top: 1em;
  }
  @include breakpoint(992px) {
    padding-top: 3em;
  }
  @include breakpoint(1276px) {
    padding-top: 1em;
  }
}

.pane-node-field-service-bureaus {
  padding-top: 1em;
  @include breakpoint(992px) {
    padding-top: 3em;
  }
  @include breakpoint(1065px) {
    padding-top: 1em;
  }
}

.page-user-view .field-name-field-thank-you-card-and-referra {
  &.field-label-inline {
    &>.field-label { float: none; }
    &>.field-items {
      width: 100%;
      float: none;
  
      .field-label {
        width: auto;
        min-width: 75px;
      }
      .field {
        width: 100%;
        display: inline-flex;
      }
    }
  }

  >.field-items { margin-left: 0; }
}

.pane-user-profile {
  .field-label {
    width: 44%;
  }
}

.field-name-field-notes,
.field-name-field-staff-notes,
.field-name-field-debit-fee-notes {
  .field-name-field-date,
  .field-name-field-staff-note-date {
    float: left;
    margin-right: 3em;

    .field-label {
      width: auto;
    }
  }
  .field-name-field-staff-user,
  .field-name-field-staff-admin {
    float: left;

    input {
      width: 24em;
    }
  }
  .field-name-field-note,
  .field-name-field-staff-note {
    clear: both;
  }
}



/* Client Edit Styles */
.page-user-edit.page-user-edit-bwma-client {

  .pane-profile2-field-loans {

    #edit-profile-bwma-client-field-loans {
      .button-remove {
        position: static;
        transform: rotate(0deg);
      }

      input[type="submit"] {
        margin-right: 0.5em;
        margin-top: 0.5em;
      }
    }
    
    #ief-entity-table-edit-profile-bwma-client-field-loans-und-entities thead tr th:nth-child(4), .inline-entity-form-node-status { display: none; }
    #edit-profile-bwma-client-field-loans #ief-entity-table-edit-profile-bwma-client-field-loans-und-entities thead tr th:nth-child(2) {display: none;}
    .ief-entity-operations input[value='Edit'] {
      margin-right: 5px;
    }
    input[value="Add New Loan"] {
      display: table;
      margin: 5px auto 0;
    }
  }

  .pane-client-additional-id-info-edit {
    .field-name-field-enrolled-client-programs {
      display: inline-block;
      label { width: auto; }
      input { width: auto; }
      .form-checkboxes .form-item {
        width: 180px;
        float: left;
      }
    }

    .field-name-field-driver-s-license {
      clear: both;
      label { width: 220px; }
      input { width: auto;  }

      .field-name-field-drivers-license-number {
        .form-item {
          display: block;
          width: 100%;
          align-items: center;
          flex-flow: row wrap;

          @include breakpoint(480px) {
            display: flex;
          }
        }
        label {
          flex: 0 0 220px;
        }
        input {
          flex: 1 1 calc(100% - 220px);
          min-width: 200px;
        }
      }

      .field-name-field-expiration-date .form-item {
        display: block;
        label { margin-right: 0; }
      }
    }

    .field-name-field-company-name,
    .field-name-field-occupation-or-title-tag {
      .form-item {
        display: block;
        width: 100%;
        align-items: center;
        flex-flow: row wrap;

        @include breakpoint(480px) {
          display: flex;
        }
      }
      label {
        flex: 0 0 140px;
      }
      input {
        flex: 1 1 calc(100% - 140px);
        min-width: 200px;
      }
    }
  }

  .pane-user-field-related-clients .pane-content {
    border: 0;
    padding: 0;
  }

  .field-name-field-loans {
    .ief-form {
      @include loans-ief;
    }
    tr {
      border: 1px solid #CCCCCC;
      border-width: 0 1px 0 1px;
    }
    .button-add {
      text-transform: capitalize;
    }
  }
}

.page-user-view-bwma-client {
  .pane-client-additional-id-info .field {
    .field-label { width: 230px; }
    .field-item { margin-left: 5px; }

    &.field-name-field-driver-s-license {
      >.field-items{
        margin-left: 0;

        >.field-item { margin-left: 0; }
      }
    }
  }
}

.pane-profile2-field-source {
  float: left;
  margin-right: 10px;

  select {
    width: 100%;

    @include breakpoint(480px) {
      width: auto;
    }
  }
}
.pane-profile2-field-source-date {
  display: inline-block;

  .field-type-datetime.field-widget-date-popup .form-item {
    display: flex;
    align-items: center;

    label, input {
      flex: 0 0 auto;
      display: inline-block;
    }
    label {
      margin-right: 5px;
    }
    input {
      width: 8em;
      text-align: center;
    }
  }
}

table#field-family-member-contacts-values,
table#field-notes-values {
  display: table;
  width: 100%;
}

#user-account-main-page {
  .pane-basic-user-info-for-user-account {
    label { width: 100px; }
    .pane-user-field-identification {
      width: 100px;
    }
  }
}

.pane-ref-partner-additional-id-info {
  .field-label {
    min-width: 230px;
  }
}

.pane-additional-identifying-informati {
  .field-label {
    min-width: 140px;
  }

  .field-collection-item-field-driver-s-license {
    .field-label {
      min-width: 0;
    }    
  }
}

.page-user-edit,
.page-admin-people-create {

  #main-content {
    .form-item-name,
    .form-item-mail {
      label { display: block; }
      input { width: 100%;  }
    }

    .field-name-field-name-prefix,
    .field-name-field-first-name,
    .field-name-field-middle-name,
    .field-name-field-last-name,
    .field-name-field-name-suffix,
    .field-name-field-nickname {
      @include flexifields(95px);
    }

    .field-name-field-gender {
      label { width: 100%; }
      .form-radios {
        display: inline-block;
      }
      .form-item.form-type-radio {
        display: inline-block;
        width: auto;
      }
    }

    .pane-user-field-identification {
      width: auto;
      .field-name-field-identification {
        width: 100%;

        label { width: 100%; }
        &:after {
          content: '';
          display: none;
        }
      }
    }
    .pane-user-field-ss-or-ein {
      clear: both;
      white-space: nowrap;

      .field-name-field-ss-or-ein input {
        width: auto;
        text-align: center;
      }
    }
    .field-name-field-birthdate {
      input { width: 8em; }
      .description {
        display: none;
      }
    }
    .pane-user-form-buttons .form-actions {
      text-align: center;
      width: 100%;
    }
    .field-name-field-phone-type {
      width: auto;
      &:after {
        content: '';
        display: none;
      }
    }
    .field-name-field-phone-number {
      display: block;
    }
    .field-name-field-address-type:after {
      content: '';
      display: none;
    }

    .pane-user-form-account {
      @include breakpoint(450px 624px) {
        padding-top: 2em;
      }
    }

    #field-email-values {
      display: inline-table;
    }
  }

  .pane-consultant-additional-id-info-ed {
    label { width: 186px; }
    input { width: auto;  }

    .field-name-field-enrolled-consultant-prm {
      display: inline-block;
      label { width: auto; }
      input { width: auto; }
      .form-checkboxes .form-item {
        width: 190px;
        float: left;
      }
    }

    .field-name-field-bwma-member-id input { width: 8em; }
    .field-name-field-consultant-enrollment-date .form-item {
      margin-right: 0;
      display: block;
      label { margin-right: 0; }
      input { margin-right: 0; }
    }

    .field-name-field-company-name,
    .field-name-field-occupation-or-title-tag {
      .form-item {
        display: flex;
        width: 100%;
        align-items: center;
        flex-flow: row wrap;

        @include breakpoint(480px){
          display: flex;
        }
      }
      label {
        flex: 0 0 190px;
      }
      input {
        flex: 1 1 calc(100% - 190px);
        min-width: 100px;
      }
    }
  }

  .pane-ref-partner-additional-id-info-e {
    label { width: 220px; }
    input { width: auto;  }
    .field-name-field-referral-partner-id input { width: 8em; }
    .field-name-field-referral-partner-enrollmen .form-item { 
      margin-right: 0;
      display: block; 
      label { margin-right: 0; }
      input { margin-right: 0; }
    }

    .field-name-field-company-name,
    .field-name-field-occupation-or-title-tag {
      .form-item {
        display: block;
        width: 100%;
        align-items: center;
        flex-flow: row wrap;

        @include breakpoint(480px){
          display: flex;
        }
      }
      label {
        flex: 0 0 224px;
      }
      input {
        flex: 1 1 calc(100% - 224px);
        min-width: 100px;
      }
    }
  }

  .field-name-field-address {
    .form-item {
      margin-bottom: 5px;
    }
  }

  .field-name-field-thank-you-card-and-referra {
    .field-type-datetime.field-name-field-date-sent.field-widget-date-popup .form-item {
      display: block; 

      label {
        width: auto;
      }
      input {
        max-width: 100px;
        display: inline-block;
      }
    }
    .field-name-field-note {
      clear: left;
    }
  }

  .field-name-field-bwma-programs-enrolled {
    label {
      width: 100% !important;
    }
    .form-checkboxes {
      column-count: 2;
    }
  }

  .field-name-field-name-notes {
    .text-format-wrapper .filter-wrapper {
      border: 0;
    }
  }

  .field-name-field-user-about {
    label { display: none; }
  }

  .field-name-field-website {
    table { display: block !important; }
    thead, tbody, tr, th { display: block; }
    .link-field-title .description {
      display: none;
    }
    .link-field-column {
      float: none;
      width: 100%;

      label {
        width: 50px;
      }
    }
  }

  .field-name-field-address {
    div.addressfield-container-inline > div.form-item {
      float: none;
      margin-right: 0;
    }
    label {
      width: 80px;
      box-sizing: border-box;
    }
    select.state,
    select.country {
      width: calc(100% - 85px);
    }
  }

  .pane-user-field-related-clients {
    .pane-content {
      border: 1px solid #CCCCCC;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  .field-name-field-related-clients {
    .views-exposed-form {
      margin: 0;

      .views-exposed-widgets {
        display: block;
        padding: 0;
        width: 100%;
      }
    }
    .views-exposed-widget {
      width: 100%;
      padding: 0;
    }
    .views-submit-button {
      float: none;
      padding: 0;
      input {
        display: table;
        margin: 0 auto;
      }
    }
  }
}

.page-user-edit:not(.page-user-edit-bwma-client),
.page-admin-people-create {
  .field-name-field-birthdate {
    input,
    .description {
      display: inline-block;
      width: auto;
    }
  }

  .field-name-field-group .form-radios {
    column-count: 2;
  }
  .field-name-field-identification {
    .form-radios {
      display: inline-block;

      .form-item {
        display: inline-block;
        width: auto;
      }
    }
  }
  .form-item-status {
    .form-radios {
      display: inline-block;

      .form-item {
        display: inline-block;
        width: auto;
      }
    }
  }
  .form-item-roles {
    .form-checkboxes {
      column-count: 2;
    }
  }

  .group-user {
    label {
      width: 100px;
    }
    input[type="text"] {
      width: calc(100% - 110px);
    }
    .field-name-field-birthday-notes {
      label {
        width: auto;
      }
    }
    .field-name-field-related-clients {
      input { width: 100%; }
    }
  }

  .group-ssn-ein {
    legend {
      background-color: #F6F6F6;
      padding: 5px 5px 5px 10px;
    }
    .field-name-field-identification:after {
      content: '';
    }
  }

  td {
    position: relative;
  }

  input.button-remove:not(#edit-delete) {
    position: absolute;
    transform: rotate(-90deg);
    right: -50px;
    top: 50%;
  }

  table.field-multiple-table {
    border: 1px solid #DDDDDD;
    display: table;
    border-collapse: initial;
    th {
      padding: 5px;
    }
  }
}

.page-user {
  .field-collection-item-field-phone {
    .field-name-field-note .field-label {
      width: auto;
    }
  }
}

.field-name-field-assigned-to {
  input { width: auto; }
}

.page-user-view {
  .pane-additional-identifying-informati {
    .clearfix::after {
      content: '';
    }
  }

  .field-name-field-family-member-contacts {
  .field-label,
  .field-name-field-phone-type { 
      width: 95px;
    }
  }

  .client-acquisition,
  .consultant-acquisition,
  .referral-partner-acquisition {
    .col-md-8 {
      .pane-profile2-field-source { 
        float: none; 
        margin-right: 0;
      }
      .pane-profile2-field-source-date { display: block; }
      .field-label {
        width: 200px;
        min-width: 0;
      }
    }
  }

  .client-notes {
    .field-collection-item-field-notes {
      width: 100%;
    }
    .field { 
      margin-right: 0;

      .field-label {
        min-width: 0;
      }
    }
    .field-name-field-date {
      width: 250px;
      min-width: 165px;
      float: left;
    }
    .field-name-field-staff-user {
      width: 50%;
      min-width: 135px;
      float: left;
    }
    .profile2-bwma-staff h2 a { display: none; }
    .field-name-field-note { clear: both; }
  }

  .field-name-field-loans {
    @include loan-node;
  }

  .pane-consultant-additional-id-info {
    .field {
      .field-label { min-width: 210px; }
    }
  }
}

/* Staff Edit Styles */
.page-user-edit-bwma-staff {
  #mini-panel-staff_information_edit .panel-panel-inner {
    display: flex;

    .panel-pane {
      flex: auto;

      label {
        width: auto;
      }

      .field-name-field-w-9 {
        .file-widget {
          display: inline;
        }
        .button-remove {
          position: relative;
          transform: none;
          right: 0;
          top: 0;
        }
      }
    }
  }

  .field-name-field-family-member-contacts {
    table.field-multiple-table { border: 0; }
    thead { display: none; }

    .form-item {
      label {
        min-width: 90px;
      }
      input {
        width: auto;
      }
    }

    .field-name-field-phone-type {
      width: auto;
      margin-right: 5px;
      &:after{
        content: '';
        display: none;
      }
    }
    .field-name-field-phone-number {
      input {
        width: auto;
      }
    }
  }
}

.field-name-field-notes,
.field-name-field-staff-notes {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  th.field-label {
    display: none;
  }

  td:not([class]),
  td:not([class]) > .ajax-new-content {
    position: relative;

    .field-name-field-staff-user,
    .field-name-field-staff-admin {
      float: left;

      input {
        display: inline-block;
        width: 24em;
      }
    }
    .field-name-field-note,
    .field-name-field-staff-note {
      clear: left;
    }    
    .button-remove {
      position: absolute;
      right: -50px;
      top: 50%;
      transform: rotate(-90deg);
    }
  }

  .field-add-more-submit {
    display: table;
    margin: 1em auto 0;
  }
}

td:not([class]) {
  position: relative;

  @include breakpoint(768px){
    .button-remove {
      position: absolute;
      right: -50px;
      top: 50%;
      transform: rotate(-90deg);
    }
  }
}

#edit-field-loans.field-name-field-loans {
  .button-remove {
    position: initial;
    transform: none;
    margin-right: 0.5em;
  }
}

.field-name-field-referral-client,
.field-name-field-referral-consultant,
.field-name-field-referral-partner,
.field-name-field-direct-mail-lead-tracking- {
  .form-item {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

    label {
      flex: 0 0 auto;
      margin-right: 5px;
    }
    input {
      flex: 1 0 200px;
    }
  }

  .field-name-field-address {
    .state.form-select {
      width: 100%;
    }
  }
}

.pane-additional-identifying-info-edit {
  .form-item {
    display: inline-flex;
    width: 100%;
    align-items: center;

    label {
      width: 40%;
    }
  }
}


/* Admin page styles */
.page-admin-field-edit {
  .field-name-field-family-member-contacts {
    .field-label label {  width: auto;  }
    label { width: 100px; }
  }
}

.page-field-collection-field-family-member-contacts {
  .field-label label {  width: auto;  }
  label { width: 100px; }

  .field-name-field-phone {
    label { min-width: 100px; }
    
    .field-name-field-phone-number {
      input { width: auto; }
    }
    .field-name-field-note {
      label { width: auto;  }
    }
  }
}

.pane-user-roles {
  ul li {
    margin-left: 0;
    padding: 0; 
  }
  li.first {
    text-transform: capitalize;
  }
}

.node-appointment {
  .column-main .column-wrapper {
    border: 1px solid #CCCCCC;
    padding: 10px;
    font-size: 1.2em;

    .field {
      margin-bottom: 0.5em;
    }

    .field-label-inline .field-label {
      width: 160px;
    }
  }

  .column-side .column-wrapper {
    width: calc(100% - 1em) !important;
    margin-left: 1em;
    border: 1px solid #cccccc;
    padding: 0 !important;
  }
}

.node-calendar-item {
  .column-main .column-wrapper {
    border: 1px solid #CCCCCC;
    padding: 10px;
    font-size: 1.2em;

    .field {
      margin-bottom: 0.5em;
    }

    .date-display-range {
      display: inline;
    }

    .field-label-inline .field-label {
      width: 160px;
    }
  }

  .column-side .column-wrapper {
    width: calc(100% - 1em) !important;
    margin-left: 1em;
    border: 1px solid #cccccc;
    padding: 0 !important;
  }
}

#comments {
  .box-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
  }

  .comment {
    border: 1px solid #cccccc;
  }
  .comment-form {
    border: 1px solid #cccccc;
    padding: 1em;
  }
}

.node-appointment-form {
  .field-name-field-appointment-with,
  .field-name-field-appointment-for {
    label { width: 135px; }
    input { width: calc(100% - 140px); }
  }
}

.page-admin-field-edit-profile2-field-loans .ief-form {
  @include loans-ief;
}

.node-loan-form {
  .pane-node-form-title {
    width: -webkit-calc(100% - 101px);
    float: left;
    margin-right: 5px;
  }
  .pane-node-field-used-diy-form {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
  }

  .field-name-field-debiting-schedule .form-radios .form-item {
    float: left;
    width: 100px;
  }

  .field-name-field-bwma-loan-program {
    clear: both;
    display: inline-block;
    width: 100%;
    .form-radios .form-item {
      float: left;
      width: 150px;
    }
  }

  .field-name-field-total-deferred-enrollment- {
    input {
      display: inline-block;
      width: auto;
    }
  }
  .field-name-field-deferred-fee-amount {
    width: 100%;
  }
  .field-name-field-additional-extra-principal,
  .field-name-field-debit-amount-advanced-by-s,
  .field-name-field-debit-advanced-by-afts-amo {
    input {
      width: auto;
    }
  }

  .loan-lenders {
    .field-name-field-lender .form-item {
      display: block;
      overflow: hidden;

      label { flex: 0 0 114px; }
      input { flex: auto; }
    }
    label { width: 110px;  }
    input { width: auto;  }
  }
  .loan-sb {
    .field-name-field-service-bureau .form-item {
      display: flex;

      label { flex: 0 0 184px; }
      input { flex: auto; }
    }
    label { width: 180px;  }
    input { width: auto;  }
  }

  .afts-advance {
    label { width: 287px; }
    input { width: auto;  }

    .field-name-field-debit-advanced-by-afts-amo,
    .field-name-field-chargeback-fee-amount {
      label {
        margin-right: -12px;
      }
    }
  }

  .field-name-field-collection-status {
    .field-name-field-status,
    .field-name-field-date {
      float: left;
      width: 50%;
    }

    .field-name-field-status .description {
      display: inline-block;
      width: auto;
    }

    .field-name-field-note {
      clear: left;
    }
  }

  .loan-chaos-data {
    clear: both;

    .form-item input {
      width: auto;
    }
  }
}

.pane-panopoly-news-related-news-articles,
.pane-related-news {
  padding-top: 2em;

  @include breakpoint(351px) {
    padding-top: 1.5em;
  }

  @include breakpoint(992px) {
    padding-top: 2em;
  }

  @include breakpoint(1259px) {
    padding-top: 1.5em;
  }

  .views-row {
    width: 250px;
    margin-right: 0.5em;
    display: inline-block;
    margin-bottom: 1em;
    vertical-align: top;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(992px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .views-field-field-featured-image {
    float: left;
    margin-right: 1em;

    img {
      margin-top: 4px;
      height: 110px;
      width: 110px;
    }
  }
}

.view-display-id-related_news_articles {
  .clearfix:after {
    display: none;
  }

  .views-row {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pane-categories {
  .field-name-field-primary-category,
  .field-name-field-additional-categories {
    display: inline-block;
  }

  .panel-separator {
    display: none;
  }
}

#page .pane-content-area {
  &.boxed {
    overflow: hidden;
  }
  .field-name-field-featured-image {
    img {
      float: left;
      margin-bottom: 1em;
      max-width: 480px;
      height: auto;
      width: 100%;

      @include breakpoint(481px) {
        width: 50%;
        margin-right: 1em;
        margin-bottom: 0;
      }
    }
  }
}

.form-item {
  @include breakpoint(0px 767px) {
    table, thead, th, tbody, tr, td {
      display: block; 
    }

    td.field-multiple-drag { display: inline-block; }

    input.field-add-more-submit { width: 100%; }

    .field-name-field-status { float: none; }
  }
}

.page-node-add-loan {
  .loan-debit-info {
    padding-top: 2.5em;

    @include breakpoint(306px){
      padding-top: 1em;
    }
  }

  .deferred-enrolment-fees {
    padding-top: 2.5em;

    @include breakpoint(324px){
      padding-top: 1em;
    }
  }
}

input.form-submit {
  background-color: #77BBCD;
  border-color: #73b5c5;
  color: white;
}

.views-exposed-form .reset-link-button {
  background-image: url(/sites/all/themes/rubik/images/buttons.png) !important;
  box-shadow: #ddd 0 1px 1px;
  cursor: pointer;
  padding: 3px 10px;
  color: #333;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ddd #ccc;
  border-radius: 3px;
  background: #fff none -1px 50% no-repeat;
  display: block;
  margin-top: 5px;
} 

/****** MAIN MENU ******/

#block-superfish-1 {
  #superfish-1 {
    display: table;
    margin: auto;

    >li {
      &:first-child {
        border-radius: 5px 0px 0px 5px;
      }
      &:last-child {
        border-radius: 0px 5px 5px 0px;
      }
    }

    li {
      border-bottom: 0;
      float: left;
      background: #eee url(images/bleeds.png) 50% 0px no-repeat;
      padding: 0;

      &:hover {
        background: #f8f8f8;
      }

      a {
        background-image: none;
        color: #333;
        text-shadow: #fff 0px 1px 0px;
        min-width: 70px;
        text-align: center;
        padding: 5px 10px;
        font-weight: bold;
        line-height: 20px;

        > .sf-sub-indicator {
          position: static;
          display: inline-block;
          margin-left: 0.5em;
        }
      }
    }

    .sf-sub-indicator{
      filter: invert(70%);
    }

    .menuparent ul {
      width: auto !important;
      overflow: visible !important;

      li {
        white-space: nowrap !important;
        background: #ebebeb;

        &:hover {
          background: white;
        }

        a {
          text-align: left;
        }
      }
    }

    .active-trail {
      background-color: #7bc !important;

      > a {
        color: white;
        text-shadow: #38a 0px 1px 0px;
      }
    }
  }

  #superfish-1-toggle {
    display: block;
    text-align: center;
    background-color: #008db0;
    color: white;
    border-radius: 10px;
    line-height: 1.5;
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: bold;

    &.sf-expanded {
      background-color: #7bc;
      border-radius: 10px 10px 0 0;
    }

    &:hover {
      background-color: #7bc;
    }
  }

  #superfish-1-accordion {
    li {
      background-color: #e9eaec;
      line-height: 1.5;
      font-size: 16px;

      &.active-trail {
        background-color: #00728e;

        > a {
          color: white;
        }
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:hover {
        background-color: #9ec5d0;

        > a {
          color: white;
        }
      }

      a {
        color: #00728e;
      }
    }
  }
}
