@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

/***********************/

#header,
#page-title .limiter,
#page,
#footer,
.region-footer {
  max-width: 1360px;
  margin: 0 auto;
}

a, .page-title {
  color: #1bb303;
}
.pager li.pager-current, .primary-tabs li.active {
  background-color: #1bb303;
}


#mini-panel-header {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  .pane-page-logo {
    flex: 0;
  }

  .pane-page-site-name {
    font-size: 2.1em ;
    line-height: 1.5;
    text-align: center;
    flex: 1 0;

    @include breakpoint(568px) {
      font-size: 2em;
      flex: 4;
    }
    @include breakpoint(768px) {
      font-size: 2.2em;
    }
    @include breakpoint(1024px) {
      font-size: 2.5em;
    }
  }
  .pane-page-slogan {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    flex: 1 1 100%;

    @include breakpoint(568px) {
      flex: 5;
    }
    @include breakpoint(1024px) {
      font-size: 1.2em;
    }
  }
}

#block-panels-mini-footer {
  #mini-panel-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & > .pane-tb-megamenu-main-menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .tb-megamenu-main-menu {
    button {
      margin-bottom: 0px;

      .fa-reorder:before {
        content: "\f0c9\ Menu";
        color: #333;
        font-size: 14px;
      }
    }
  }

  .pane-custom.pane-3 {
    text-align: center;
    flex: 4;
    @include breakpoint(768px) {
      flex: auto;
    }
  }

  .pane-tb-megamenu-menu-footer-links {
    flex: 1;
    justify-content: center;
    display: flex;
    @include breakpoint(768px) {
      flex: auto;
    }

    .tb-megamenu-menu-footer-links {
      @include breakpoint(768px) {
        background-color: transparent;
        background-image: none;
      }


      button { margin-bottom: 0; }

      .nav li {
        margin-left: 26px;

        &:first-child {
          list-style: none;
        }

        a {
          border: 0px;
          color: #1bb303;
          font-weight: normal;
          padding: 0;
        }
      }

      // .nav-collapse {
      //   bottom: 60px;
      //   margin-left: -50%;
      //   padding: 10px;
      //   position: absolute;
      //   right: -50%;
      //   top: 0;
      //   width: auto;

      //   .nav > li {
      //     margin-left: 10px;
      //   }
      // }
    }
  }
}
