@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

/********************/
/***    MIXINS    ***/
/********************/

@mixin flexifields($label-width, $min-width: 100px) {
  .form-item {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
  }
  label {
    flex: 0 0 $label-width;
  }
  input {
    flex: 1 1 calc(100% - #{$label-width});
    min-width: 100px;
  }
}

/********************/

/** Default Styles **/
big {
  font-size: larger;
}
blockquote {
  display: block;
  font-style: italic;
  margin: 1em 2em;
  quotes: '\201c' '\201d';

  &:before {
    content: open-quote;
  }
  &:after { 
    content: close-quote;
  }
}
code {
  font-family: monospace;
}
del {
  text-decoration: line-through;
}
fieldset {
  min-width: 0;
}
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4              { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
ins { 
  text-decoration: underline;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}
q { 
  display: inline;
  font-style: italic;
  quotes: '\201c' '\201d';

  &:before { 
    content: open-quote;
  }
  &:after { 
    content: close-quote;
  }
}
small { 
  font-size: smaller;
}
sub { 
  vertical-align: sub;
  font-size: smaller;
}
sup { 
  vertical-align: super;
  font-size: smaller;
}
tt { 
  font-family: monospace;
}
ol, ul {  
  li {
    list-style: initial;
    margin-left: 40px;
  }
}

/***********************/

body:not(.page-admin),
body.page-admin #header,
body.page-admin .region-footer {
  .block,
  table {
    border: 0px;
  }
}
.help-page, div.comment, div.node {
  background: none;
  border: 0px;
}
body.tao {
  color: black;
}

.field {
  &.field-name-field-phone-number,
  &.field-name-field-deferred-fee-amount,
  &.pane-user-field-ss-or-ein,
  &.field-name-field-ss-or-ein {
    display: inline-block;
  }
  &.field-name-field-phone-type,
  &.field-name-field-identification {
    display: inline-block;
    font-weight: bold;

    .field-items {
      display: inline-block;
    }
    &:after {
      content: ':\00a0';
    }

    >.field-items { margin-left: 0; }
  }
  &.field-name-field-phone-type {
    width: 70px;
  }
  .field-name-field-accept-text-messages {
    .field-label {  width: 160px; }
  }

  &.field-name-field-address-type {
    font-weight: bold;
    
    .field-items {
      display: inline-block;
      margin-left: 0;
    }
    &:after { content: ':'; }
  }
  &.field-name-field-address {
    .field-items {
      margin-left: 0;
    }
  }

  &.field-name-field-related-clients {
    ul li {
      list-style: none;
      margin-left: 0;
    }
  }
}

.field-collection-view {
  border: 1px dotted #D3D7D9;
  padding: 0.5em 1em;
  margin: 0;
}
.view-content .field-collection-view {
  border: none;
}

body:not(.maintenance-page) #header {
  /* Logo, site name and slogan are hidden because we are using the mini panel to render it. 
  These can also be hidden by disablng it in the theme settings, 
  but if we do that, the mini panel won't display it too. However, if 
  the mini panel is not used, we can comment out this rule. */
  >#logo,
  >#site-name,
  >#site-slogan {
    display: none;
  }
}

input[type="password"] {
  width: 100%;
  box-sizing: border-box;
}

.field>.field-items {
  margin-left: 10px;
}

.field.field-type-field-collection>.field-items {
  margin-left: 0;
}

#autocomplete ul li {
  margin: 0;
  padding-left: 5px;
}

div#toolbar div.toolbar-shortcuts ul {
  padding-top: 2px;
}

#page-title .page-title {
  font-size: 2em;
  margin: 0;
}

.content-main  {
  .featured-display {
    overflow: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
    .views-field-body { 
      font-size: 14px;
    }

    .view-content {
      display: flex;
      flex-flow: row wrap;
    }

    .views-row {
      display: block;
      margin-top: 0px;
      margin-bottom: 2em;
      flex: 1 100%;
    }

    @include breakpoint(480px) {
      .views-row {
        flex: 1 49%;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .featured-image img {
    width: 100%;
    height: auto;
  }
  .views-field-title h3 {
    margin: 0;
  }
  .views-field-field-featured-image img {
    float: left;
    margin-right: 15px;
  }
  .views-row {
    display: table;
    margin-top: 2em;
    width: 100%;
  }
}

.view-filters {
  float: left;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    float: none;
  }
}

.views-exposed-form {
  margin-bottom: 1em;
  margin-right: 1em;
  display: flex;

  .basic-options {
    display: flex;
    flex-wrap: wrap;
  }

  &>legend {
    position: absolute;
  }

  a.fieldset-title { height: 26px; }

  .views-exposed-widgets {
    display: block;
    padding: 28px 10px 10px 10px;
  }

  select[name="rid_op"] {
    width: 180px;
  }

  .actions {
    display: inline-block;

    .views-exposed-widget {
      float: none;
      padding-right: 0;

      input {
        margin-top: 0;
      }
    }
  }
}

.vbo-views-form p,
.view-empty p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  clear: both;
  border: 1px solid #CCCCCC;
  padding: 1em;
}

.vbo-views-form {
  .fieldset-content input {
    margin-right: 0.5em;
  }
}

.view-content {
  [id*='edit-select'] {
    min-width: 200px;
    display: inline-block;
  }
}

.views-edit-view #edit-actions {
  width: 100%;
}

.views-field-edit-node  a,
a[id*="edit-fields"]:not([title="Change widget type."]),
a[title="Export instance"] {
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  color: #fff;
  background-color: #7bc;
  text-shadow: #38a 0 1px 0;
}

.field-multiple-table {
  tr:nth-child(even) {
    background-color: #FAFAFA;
  }
}

.field-collection-container {
  border: 0px;
}

table.views-table {
  border: 1px solid #DDDDDD !important;

  tr:nth-child(even) {
    background-color: #FAFAFA;
  }

  ul li {
    margin-left: 0;
  }

  .field-collection-view {
    margin: 0;

    ul.field-collection-view-links {
      float: right;
    }
  }

  .item-list ul li {
    padding: 0;
  }

  .field-name-field-phone-type {
    display: inline-block;
    font-weight: bold;
    min-width: 0%;

    .field-items {
      display: inline-block;
      margin-left: 0;
    }
    &:after {
      content: ':\00a0';
    }
  }

  .field-collection-view {
    padding-top: 0;
  }

  .field-collection-view .entity-field-collection-item {
    width: auto;
    float: left;
  }
}

.views-exposed-widget .form-item label {
  display: block;
}

.field-collection-container ul.action-links-field-collection-add {
  margin: 5px 0 0 0;
}

.pane-content .field-collection-container {
  border-bottom: 0;
  margin-bottom: 0;
}

label,
.pane-title,
.ckeditor_links,
.link-edit-summary,
.form-actions input,
.vertical-tabs-list li a strong {
  text-transform: capitalize;
}

.date-no-float {  width: 100%;  }

.field-items ul,
.field-items ol {
  overflow: hidden;
}

ul.panels-ipe-linkbar li {
  float: left;
  list-style: none;
  margin-left: 0;
}

.cke_inner .cke_top {
  overflow: visible;
  display: flex;
}

.cke_toolbar a.cke_button:hover {
  position: relative;

  &:before {
    content: attr(title);
    color: #FFFFFF;
    padding: 4px 8px;
    position: absolute;
    bottom: 130%;
    background: #000000;
    text-align: center;
    border-radius: 6px;
    text-transform: capitalize;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: calc(-50% + 1px);
    bottom: 112%;
  }
}

.links,
.actions,
.primary-tabs,
.action-links,
.vertical-tabs-list,
#module-filter-tabs {
  li {
    list-style: none;
    margin-left: 0;
  }
}

ul.primary-tabs {
  text-transform: capitalize;
}

ul.secondary-tabs.links:hover {
  li, li a {
    float: none;
  }
}

ul.secondary-tabs {
  height: 20px;
  overflow: hidden;

  li a {
    display: block;
    float: none;
    height: 0px;
    position: relative;
    top: -20px;
  }

  li.active a {
    top: 0;
  }

  &:hover {
    height: auto;
    overflow: visible;

    li a {
      height: auto;
      position: relative;
      top: 0px;
    }
  }
}

ul.links li, 
ul.links li a {
  float: none;
}

ul.action-links,
ul.links.pager,
ul.primary-tabs.links {
  &>li {
    margin-left: 0;
  }
  &>li, &>li a {
    float: left;
  }
}

ul.rules-operations-add a {
  padding: 5px 5px 5px 20px;
}

.views-mini-pager {
  display: flex;
  justify-content: center;
}

.views-content .item-list ul li {
  border-bottom: 0px;
  margin-left: 0px;
}

.ctools-content ul li {
  margin-left: 0;
}

#mini-panel-header {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  .pane-page-logo {
    flex: 0;
  }

  .pane-page-site-name {
    font-size: 2.1em ;
    line-height: 1.5;
    text-align: center;
    flex: 1 0;

    @include breakpoint(400px) {
      font-size: 2em;
    }
  }
  .pane-page-slogan {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    flex: 1 1 100%;

    @include breakpoint(400px) {
      font-size: 1.5em;
    }
  }
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header,
.modal-header,
#modalContent div.ctools-modal-content .modal-header {
  background: url(images/bleeds.png) 0px -30px repeat-x;
  color: #ccc;
  font-size: 11px;
  height: 30px;
  overflow: hidden;
}

#modal-title,
#modalContent div.ctools-modal-content .modal-title {
  font-size: 11px;
  float: left;
  line-height: 20px;
  padding: 5px 20px;
}

#modal-content {
  .form-item {
    position: static;
  }
  #views-content-views-content-type-edit-form {
    float: left;
    width: 50%;

    .form-actions {
      position: absolute;
      right: 12px;
      top: 490px;
      width: 47%;
      padding: 9px 0;
    }
  }
  .option-text-aligner {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .form-item {
      float: none;
      border: 0;
    }
  }

  .form-actions {
    width: 46%;
    padding: 1%;
    margin-left: 0;
  }
}

#block-system-user-menu {
  ul.menu {
    float: right;

    li {
      float: left;
      border: 0;
    }
  }
}

.middle-column .pane-system-user-menu {
  ul {
    text-align: center;
  }
  li {
    margin-left: 0;
    display: inline-block;
    border-bottom: 0;
  }
}

#block-tb-megamenu-main-menu {
  .block-content {
    padding: 0;
  }
}

.tb-megamenu .nav-collapse .nav li a {
  @include breakpoint(0px 629px) {
    border-top-color: transparent;
  }
}

#block-tb-megamenu-main-menu {

  .tb-megamenu-main-menu {
    background: transparent;
    display: block;
    margin: 0 auto;

    @include breakpoint(500px){
      display: table;
    }
    
    .nav-collapse {
      position: relative;
      top: 0;
      @include breakpoint(500px) {
        display: block;
      }
    }

    .btn-navbar {
      display: table;
      margin: 0 auto;
      float: none;

      @include breakpoint(500px) {
        display: none;
      }
    }

    .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
      content: "\f0c9\ Menu";
      color: #333;
      font-size: 14px;
    }

    .dropdown-menu {
      background-color: #f8f8f8;
      box-shadow: none;

      @include breakpoint(500px){
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      }
    }

    .tb-megamenu-column-inner {
      padding: 0;

      @include breakpoint(500px) {
        padding: 10px;
      }
    }

    .tb-megamenu-nav>li {
      background: #75B8C9;
      border: 0px;
      float: none;
      list-style: none;
      
      @include breakpoint(500px) {
        float: left;
        background: #eee url(images/bleeds.png) 50% 0px no-repeat;
      }

      &.active,
      &.active>a {
        background-color: #7bc !important;
        color: #fff;
        text-shadow: #38a 0px 1px 0px;
      }
      &:first-child,
      &:first-child a {
          border-radius: 0;

          @include breakpoint(500px) {
            border-radius: 5px 0px 0px 5px;
          }
      }
      &:last-child,
      &:last-child a {
          border-radius: 0;
          @include breakpoint(500px) {
            border-radius: 0px 5px 5px 0px;
          }
      }
      &.dropdown.open>a {
        background-color: #f8f8f8;
        text-align: center;
      }

      a {
        background-image: none;
        color: #333;
        text-shadow: #fff 0px 1px 0px;
        min-width: 70px;
        text-align: center;
        padding: 5px 10px;
      }

      >a {
        float: none;

        @include breakpoint(500px) {
          float: left;
        }

        &:hover,
        &:focus {
          background-color: #f8f8f8;
        }
      }
    }
  
    .tb-megamenu-subnav {
      margin-left: 1em;
      @include breakpoint(500px) {
        margin-left: 0;
      }
    }

    .tb-megamenu-subnav li a {
      width: 90%;
      text-align: left;
    }

    @include breakpoint(500px 629px) {
      font-size: 11px;

      .tb-megamenu-nav > li a {
        min-width: 0;
        padding: 5px 5.5px;
        font-size: 0.9em;
      }
    }

    @include breakpoint(630px 689px) {
      .tb-megamenu-nav > li a {
        min-width: 0;
        padding: 5px 5.5px;
        font-size: 0.9em;
      }
    }
  }
}



.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
  background-color: #f8f8f8;
}

.ui-dialog button.ui-dialog-titlebar-close,
.modal-header .close,
#modalContent div.ctools-modal-content a.close {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #444 url(images/buttons.png) -4000px 50% no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 0px;

  &:hover, &:focus {
    background: #444 url(images/buttons.png) -4000px 50% no-repeat;
  }

  span.ui-icon {
    display: none;
  }
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  display: none;
}

.mbp-folders {
  ol, ul {
    margin-left: 0;

    li {
      margin-left: 0;
    }
  }
}
.media-list-thumbnails .media-item.selected {
  background: green;
}

.media-item .media-thumbnail {
  width: 160px;
  height: 160px;
}

.field-type-field-collection {
  .field-items .field-item {
    margin: 0;
  }
  .field-item.even {
    background-color: transparent;
  }
  .field-item.odd {
    background-color: #FAFAFA;

    .field-type-field-collection .field-item.even .field-collection-view {
      background: white;
    }
  }
}

.field-collection-view .field-label {
  width: auto;
}

/* Maintenance page styles */
body.maintenance-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #page-wrapper {
    border: 1px solid #ddd;
  }
  #page {
    margin: 20px 40px 40px;
  }
  #header,
  #container,
  #footer-wrapper {
    flex: 1 1 100%;
    justify-content: center;
    display: inherit;
  }
  #header .section {
    text-align: center;
  }
  #name-and-slogan,
  #main {
    text-align: center;
  }
  #name-and-slogan {
    margin-bottom: 50px;
    padding-top: 20px;
  }
  #site-name {
    font-size: 28px;
    line-height: 1;
  }
  #site-slogan {
    margin-top: 7px;
    word-spacing: 0.1em;
    font-style: italic;
  }
  h1#page-title {
    background: none;
    font-size: 28px;
    margin-bottom: 0.5em;
  }
}
/* Maintenance page styles */


.boxed,
div.panel-pane div.node.boxed {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
  position: relative;

  h2, h3 {
    position: absolute;
    margin: 0;
    top: -11px;
    background: white;
    padding: 0 1em;
    display: inline-block !important;

    &.ctools-collapsible-handle {
      padding-left: 1em;
    }
  }

  .ctools-toggle {
    position: absolute;
    top: -10px;
    z-index: 1;
  }
}

.my-sticky-element {
  text-align: center;
  box-sizing: border-box;
  width: initial;
  width: inherit; // for IE
  z-index: 100;
}
#edit-actions {
  text-align: center;
}
.pane-profile2-form-buttons {
  width: 100%;
}


.form-item {
  width: 100%;

  label {
    display: inline-block;
    font-size: 13px;
  }

  input[type="text"] {
    box-sizing: border-box;
  }
}

.field-collection-view .entity-field-collection-item {
  display: inline-block;
  width: auto;
}
.field-collection-view ul.field-collection-view-links {
  margin: 0;
}
ul.field-collection-view-links li:last-child a {
  margin: 0;
}
ul.field-collection-view-links {
  width: 30%;
  display: inline-block;
  text-align: right;
  margin: 0;

  li {
    list-style: none;
    float: none;
    margin-left: 0;
    display: inline-block;
  }
}

.container-inline-date {
  .form-item .form-item,
  .date-padding {
    float: none;
  }
}

.field-type-datetime.field-widget-date-popup {

  .form-item {
    display: block;
    overflow: hidden;

    label, input {
      display: inline-block;
    }
    label {
      margin-right: 5px;
    }
    input {
      width: 8em;
      text-align: center;
    }
    .description {
      display: none;
    }
  }
}

input.field-add-more-submit {
  text-transform: capitalize;
  margin: .5em auto 0;
  display: table;
}

.progress-disabled {
  float: none;
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

table.field-multiple-table {
  tr {
    border: 1px solid #CCCCCC;
    border-width: 0 1px 0 1px;
  }
  tr.draggable {
    @include breakpoint(768px){
      display: flex;
  
      td.field-multiple-drag {
        order: 1;
        box-sizing: border-box;
        display: block;
      }
      td:not([class]){
        flex: 100%;
        display: block;
      }
    }
  }
}

tr.ief-row-entity .ief-entity-operations {
  input.button-remove {
    position: relative;
    transform: none;
    right: 0;
    top: 50%;
  }
}

thead th.field-label label {
  padding-left: 1em;
}

table[id*='field-notes-values'] > thead label {
  display: none;
}

td:not([class]) {
  position: relative;

  @include breakpoint(768px){
    .button-remove {
      position: absolute;
      right: -50px;
      top: 50%;
      transform: rotate(-90deg);
    }
  }
}


/* Admin page styles */
ul#views-display-menu-tabs {
  overflow: visible;

  li.add ul.action-list li {
    float: none;
  }
}
.views-ui-display-tab-bucket .advanced-help-link {
  float: left;
}

#node-edit .form-item-path-alias input {
  width: auto;
}

.pane-node-form-path .pane-content {
  display: flex;
}

select.form-select {
  height: auto;
}

label.panopoly-admin-hide-body-label-processed {
  text-align: left !important;
}

.form-item.form-type-textarea {
  padding: 0;
  border: 0;
}

.rubik-inline-field-descriptions .page-content .form-item .description,
.description {
  color: green;
  box-sizing: border-box;
  padding: 5px;
  clear: both;

  em {
    display: initial;
  }

  &:empty {
    padding: 0;
  }

  p {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin: 0 2em;
    list-style: initial;

    li {
      margin: 0.25em 0;
      list-style: disc;
    }
  }
}

.admin-list .description {
  padding: 5px 0;
}

.admin-list li {
  list-style: none;
}

form .tabs {
  position: relative;
  z-index: 1;
}

.form-item label {
  color: black;
}

.ui-widget-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 0%,#1e5799 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
.ui-datepicker {
  .ui-datepicker-title select {
    color: white; 
  }
  .ui-icon {
    filter: invert(1);
  }
}
.ui-datepicker-current-day .ui-state-active {
  background: #7DB9E8;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid transparent;
}

.ui-dialog .ui-dialog-titlebar,
.overlay .ui-dialog-titlebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,333333+100 */
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top,  #666666 0%, #333333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#333333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#333333 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #666666 0%,#333333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  padding: 0 14px 0 24px;
}

.ui-dialog .ui-dialog-title { line-height: 30px; }

.treeTable tr td .expander {
  margin-left: 0 !important;
}

#admin-menu .shortcut-toolbar li {
  padding: 0;
  border: 0;
  margin: 0.25em 0;
}

#media-tabs-wrapper .ui-tabs-nav {
  li, li.ui-state-active {
    padding: 0 0.5em;
    margin-top: -2px;
  }
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0 1em;
}

#edit-timezone select#edit-timezone--2 {
  width: 100%;
}

#user-login {
  .form-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    label { flex: 0 100px; }
    input { 
      flex: 1 0 100px;
      min-width: 100px;
    }
    .description { flex: 1 auto; }
  }
}

#user-login, #user-pass {
  .g-recaptcha > div > div {
    display: table;
    margin: 0 auto;
  }
}

.g-recaptcha {
  @include breakpoint(0px 400px) {
    transform: scale(0.73);
    transform-origin: 0 0;
  }
}

.form-item-path-alias {
  display: flex;
  flex-flow: row wrap;

  label, span {
    flex: 0 auto;
  }
  input {
    flex: 1 auto;
  }
}

label[for="edit-pubdate"] {
  padding-left: 0;
}
#edit-pubdate {
  margin-left: 10px;
}

#edit-entity-recur-days {
  .form-item {
    width: 100px;
    float: left;
  }
}

#node-edit {
  #edit-entity-recur {
    .form-item-entity-recur-rules-frequency,
    .form-item-entity-recur-rules-period {
      display: inline-block;
      width: auto;
    }

    .form-item-entity-recur-until {
      display: inline-block;
      margin-top: 10px;
      width: 100%;

      label { padding: 0; }

      label, .description {
        display: inline-block;
        vertical-align: middle;
      }
      .description { width: 235px; }
      .form-required { display: none; }
    }

    #edit-entity-recur-until {
      display: inline-block;
      align-items: center;

      label { display: none; }
      input {     
        display: inline-block;
        width: auto;
      }
      .description { 
        display: inline-block;
        width: auto;
      }
    }
  }

  .field-type-datetime.field-widget-date-popup {
    .form-item { 
      display: inline-block; 
    }

    .date-float { width: 100%; }

    .start-date-wrapper, .end-date-wrapper {
      display: inline-block; 
      margin: 1em 0 0 1em;
      width: auto;
    }

    .end-date-wrapper {
      label, .date-padding { display: inline-block; }
      label { padding: 0; }
    }

    .description {  display: none;  }
    input[type="checkbox"] {
      width: auto;
      margin-right: 5px;
    }
  }

  .pane-node-form-publishing {
    .pane-title { margin-bottom: 0; }
    .form-item-pubdate {
      width: 100%;
  
      .form-item {
        label { width: 40px; }
        input { 
          width: 10em;
          display: inline-block;
        }
        .description {
          width: auto;
          display: inline-block;
        }
      }
    }
  }

  .pane-node-form-author {
    .form-item-date { width: 100%; }
  }
}

.page-admin-field-edit {
  .field-name-field-phone {
    label { min-width: 100px; }
    
    .field-name-field-phone-number {
      input { width: auto; }
    }
    .field-name-field-note {
      label { width: auto;  }
    }
  }
  .field-name-field-collection-mailing-address {
    .form-item[class*="postal-code"] {
      input { width: auto; }
    }
  }
  .field-name-field-family-member-contacts {
    .field-label label {  width: auto;  }
    label { width: 100px; }
  }
}

.page-field-collection-field-collection-mailing-address {
  .form-item { margin-bottom: 0; }
  .locality-block {
    .form-item { width: auto; }
    .locality { width: auto; }
  }
}

.page-field-collection-field-phone {
  label { min-width: 100px; }
    
  .field-name-field-phone-number {
    input { width: auto; }
  }
  .field-name-field-note {
    label { width: auto;  }
  }
}

.pane-user-roles {
  ul li {
    margin-left: 0;
    padding: 0; 
  }
  li.first {
    text-transform: capitalize;
  }
}

.advanced-options {
  display: flex;
  margin-top: 1em;

  #edit-secondary.collapsed {
    width: 132px;
    margin: 0;
    .fieldset-title {
      white-space: nowrap;
    }
  }

  .bef-secondary-options {
    display: block;

    .views-exposed-widget {
      display: inline-block;
      vertical-align: top;
      float: none;
    }
  }
}

.password-strength {
  width: 100%;
}

.prose p { margin-bottom: 10px; }

#page .pane-content-area {
  &.boxed {
    overflow: hidden;
  }
  .field-name-field-featured-image {
    img {
      float: left;
      margin-bottom: 1em;
      max-width: 480px;
      height: auto;
      width: 100%;

      @include breakpoint(481px) {
        width: 50%;
        margin-right: 1em;
        margin-bottom: 0;
      }
    }
  }
}

ul.links.inline li.book_add_child a {
  display: block;
}

.manualcrop-selection-info {
  position: initial !important;
}

#media-browser-page .view-filters { float: none; }

.form-item {
  @include breakpoint(0px 767px) {
    table, thead, th, tbody, tr, td {
      display: block; 
    }

    td.field-multiple-drag { display: inline-block; }

    input.field-add-more-submit { width: 100%; }

    .field-name-field-status { float: none; }
  }
}

html.js fieldset.collapsible div.fieldset-wrapper {
  overflow: visible !important;
}

#edit-field-website {
  .button-remove {
    right: -25px;
    top:  35%;
  }
}
